<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">
    <title>Phished and Leaked Credentials | Cindercloud | The Ethereum Blockchain Interactor and Explorer</title>
</div>

<body>
<div layout:fragment="main-content">
    <section class="breadcrumbs g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Leaked Addresses and Private Keys</h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Tools</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>Leaks</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="container g-pt-100 g-pb-20">
        <h1 style="display: none;">Leaked Addresses and Private Keys</h1>

        <div th:if="${results != null &amp;&amp; results.size() > 0}" class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>subject</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="result : ${results}">
                            <th th:text="${result.subject}"></th>
                            <th>
                            <span th:if="${result.found}"><a href="#!"
                                                             class="btn btn-sm u-btn-outline-red g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-4 g-rounded-50 g-mr-10 g-mb-15">
                    <i class="fa fa-remove g-mr-3"> found!</i>
                  </a></span>
                                <span th:unless="${result.found}"><a href="#!"
                                                                     class="btn btn-sm u-btn-outline-teal g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-4 g-rounded-50 g-mr-10 g-mb-15">
                    <i class="fa fa-check-circle g-mr-3"> safe!</i>
                  </a></span>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ">
                <div class="mb-5">
                    <h2 class="h1 text-center g-font-weight-400 mb-3">Paste your addresses</h2>
                    <p class="g-color-gray-dark-v4">
                        Paste your list of addresses.
                        <b>Please do not include any of your own private keys.</b>
                        The application will check if they were found in the database. <br/>
                        You'll get a detailed report with our findings.
                    </p>
                </div>
            </div>
            <div class="col-md-12 g-mb-80">
                <form th:object="${checkLeakedCredentialsCommand}" method="POST" th:action="@{/tools/leaked}"
                      class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30">
                    <div class="form-group g-mb-20">
                        <label class="g-mb-10" for="private_key_input">Addresses (one on each line)</label>
                        <textarea id="private_key_input" th:field="*{input}"
                                  class="form-control form-control-md rounded-0" rows="10"
                                  placeholder="0x0000000000000000000000000000000"></textarea>
                    </div>
                    <button type="submit" class="btn btn-md u-btn-primary rounded-0">Check it!</button>
                </form>
            </div>
        </div>

    </section>

</div>
<div layout:fragment="footer-content">

</div>
</body>
</html>
