# secrets
amazon-aws.properties
auth0.properties
application-production.yml
application-dev.yml
application-aws.yml

web/build/
web/out/

.idea
out/

build/

.gradle

web/src/test/java/cloud/cinder/cindercloud/whitehat/
web/src/test/resources/whitehat/