# secrets
amazon-aws.properties
auth0.properties
application-production.yml
application-dev.yml

web/build/
web/out/

.idea
out/

build/

.gradle
common/docker_data

web/src/test/java/cloud/cinder/cindercloud/whitehat/
web/src/test/resources/whitehat/

common/apm/glowroot/data
common/apm/glowroot/tmp
common/apm/glowroot/logs