<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">
    <style type="text/css">
        .half-circle-spinner, .half-circle-spinner * {
            box-sizing: border-box;
        }

        .half-circle-spinner {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            position: relative;
        }

        .half-circle-spinner .circle {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: calc(60px / 10) solid transparent;
        }

        .half-circle-spinner .circle.circle-1 {
            border-top-color: #ff1d5e;
            animation: half-circle-spinner-animation 1s infinite;
        }

        .half-circle-spinner .circle.circle-2 {
            border-bottom-color: #ff1d5e;
            animation: half-circle-spinner-animation 1s infinite alternate;
        }

        @keyframes half-circle-spinner-animation {
            0% {
                transform: rotate(0deg);

            }
            100%{
                transform: rotate(360deg);
            }
        }
    </style>
</div>

<body>
<div layout:fragment="main-content">

    <section class="breadcrumbs g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div id="qrModal" class="text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20"
                 style="display: none;">
                <button type="button" class="close" onclick="Custombox.modal.close();">
                    <i class="hs-icon hs-icon-close"></i>
                </button>

                <h4 class="g-mb-20">QRcode</h4>

                <div id="qrcode"></div>
            </div>
            <div class="d-sm-flex ">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Address: <i href="#qrModal"
                                                                                          data-modal-target="#qrModal"
                                                                                          data-modal-effect="fadein"
                                                                                          class="fa fa-qrcode"></i><br />
                        <b> <span th:text="${hash}"></span> <span th:if="${isSpecial}">( <span
                                th:text="${specialName}"></span> )</span>
                        </b>
                    </h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Home</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Addresses</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>Address</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="container g-pt-10 g-pb-30">

        <h1 style="display: none;">Ethereum Address: <span th:text="${hash}"></span></h1>

        <!-- Nav tabs -->
        <ul class="nav u-nav-v8-1" role="tablist" data-target="nav-8-1-default-hor-left"
            data-tabs-mobile-type="slide-up-down"
            data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#blockInformation" role="tab">
      <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
        <i class="fa fa-binoculars"></i>
      </span>
                    <strong class="text-uppercase u-nav-v8__title">Information</strong>
                    <em class="u-nav-v8__description">General information about this address.</em>
                </a>
            </li>
            <li id="tokenTransferTab" style="display:none;" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tokenTransfers" role="tab">
      <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
        <i class="fa fa-binoculars"></i>
      </span>
                    <strong class="text-uppercase u-nav-v8__title">Token Transfers</strong>
                    <em class="u-nav-v8__description">ERC20 Transfers done from and to this account</em>
                </a>
            </li>
            <li th:if="${address.isContract()}" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#addressCode" role="tab">
      <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
        <i class="fa fa-code"></i>
      </span>
                    <strong class="text-uppercase u-nav-v8__title">Code</strong>
                    <em class="u-nav-v8__description">This is a smart contract.</em>
                </a>
            </li>
            <li id="minedTab" style="display:none;" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#blockMined" role="tab">
                          <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
                            <i class="fa fa-th"></i>
                          </span>
                    <strong class="text-uppercase u-nav-v8__title">Mined</strong>
                    <em class="u-nav-v8__description">Blocks</em>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#blockComments" role="tab">
                          <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
                            <i class="fa fa-comments-o"></i>
                          </span>
                    <strong class="text-uppercase u-nav-v8__title">Comments</strong>
                    <em class="u-nav-v8__description">Join the conversation.</em>
                </a>
            </li>
        </ul>
        <!-- End Nav tabs -->


        <!-- Tab panes -->
        <div id="nav-8-1-default-hor-left" class="tab-content g-pt-20">
            <div class="tab-pane fade show active" id="blockInformation" role="tabpanel">

                <section class="g-mt-10" id="tokenSection">
                    <div class="half-circle-spinner g-mb-20" style="margin: 0 auto;">
                        <div class="circle circle-1"></div>
                        <div class="circle circle-2"></div>
                    </div>
                </section>

                <div class="row text-center text-uppercase">
                    <div class="col-lg-3 col-sm-6 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <div class="g-font-size-35 g-font-weight-300 g-mb-7"
                                 th:text="${address.transactionCount}">
                                52147
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Transaction Count</h4>
                        </div>
                    </div>

                    <div class="col-lg-9 col-sm-12 g-mb-50">
                        <div class="g-brd-around g-brd-primary g-pa-20">
                            <div class="g-font-size-35 g-font-weight-300 g-mb-7"
                                 th:text="${address.balance}">24583
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Balance</h4>
                        </div>
                    </div>
                </div>


                <section th:if="${address.transactions.hasContent()}">

                    <div th:if="${address.transactions.hasNext()}"
                         class="alert alert-dismissible fade show g-bg-teal g-color-white rounded-0" role="alert">
                        <button type="button" class="close u-alert-close--light" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="media">
                        <span class="d-flex g-mr-10 g-mt-5">
                          <i class="icon-check g-font-size-25"></i>
                        </span>
                            <span class="media-body align-self-center">
                          <strong>More Transactions!</strong> <a th:href="@{/tx?q=} + ${hash}" style="color:white;">Find out all transactions related to this account.</a>
                        </span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Hash</th>
                                        <th>Block</th>
                                        <th>Age</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="tx : ${address.transactions.getContent()}">
                                        <td><a th:href="@{'/tx/' + ${tx.hash}}"><span
                                                th:text="${tx.prettyHash()}"></span></a></td>
                                        <td><a th:href="@{'/blocks/' + ${tx.blockHash}}"><span
                                                th:text="${tx.blockHeight}"></span></a></td>
                                        <td th:text="${tx.prettyBlockTimestamp()}"></td>
                                        <td>
                                            <a th:href="@{'/address/' + ${tx.fromAddress}}"
                                               th:if="${tx.direction(hash) == T(cloud.cinder.web.transaction.domain.Transaction.Direction).IN}">
                                                <span th:text="${tx.prettyFromAddress()}"></span></a>

                                            <span th:unless="${tx.direction(hash) == T(cloud.cinder.web.transaction.domain.Transaction.Direction).IN}"
                                                  th:text="${tx.prettyFromAddress()}"></span>
                                        </td>
                                        <td>
                                            <div th:if="${tx.isContractCreation()}">
                                                <a th:href="@{'/address/' + ${tx.creates}}"
                                                   th:unless="${tx.direction(hash) == T(cloud.cinder.web.transaction.domain.Transaction.Direction).IN}"><span
                                                        th:text="${tx.prettyToAddress()}"></span></a>
                                                <span th:if="${tx.direction(hash) == T(cloud.cinder.web.transaction.domain.Transaction.Direction).IN}"
                                                      th:text="${tx.prettyToAddress()}"></span>
                                            </div>
                                            <div th:unless="${tx.isContractCreation()}">
                                                <a th:href="@{'/address/' + ${tx.toAddress}}"
                                                   th:unless="${tx.direction(hash) == T(cloud.cinder.web.transaction.domain.Transaction.Direction).IN}"><span
                                                        th:text="${tx.prettyToAddress()}"></span></a>
                                                <span th:if="${tx.direction(hash) == T(cloud.cinder.web.transaction.domain.Transaction.Direction).IN}"
                                                      th:text="${tx.prettyToAddress()}"></span>
                                            </div>
                                        </td>
                                        <td>
                                        <span class="u-label u-label-success g-color-white"
                                              th:text="${tx.formattedValue()}">0</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Table Striped Rows -->
                    </div>
                </section>
                <section th:unless="${address.transactions.hasContent() || address.transactionCount > 0}">
                    <div class="alert alert-dismissible fade show g-bg-gray-dark-v2 g-color-white rounded-0"
                         role="alert">
                        <button type="button" class="close u-alert-close--light" data-dismiss="alert"
                                aria-label="Close">
                            <span class="g-color-white" aria-hidden="true">×</span>
                        </button>

                        <div class="media">
        <span class="d-flex g-mr-10 g-mt-5">
          <i class="icon-question g-font-size-25"></i>
        </span>
                            <span class="media-body align-self-center">
          <strong>No transactions found <i class="fa fa-frown-o"></i></strong><br /> No transactions could be found referencing this account. Maybe we didn't index them yet?
        </span>
                        </div>
                    </div>
                </section>
                <hr />
                <br />
            </div>
            <div class="tab-pane fade" id="tokenTransfers" role="tabpanel">
                <div class="row text-center text-uppercase">
                    <div class="col-lg-12 col-sm-12 g-mb-50">
                        <div id="tokenTransferDiv"></div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="addressCode" role="tabpanel">
                <div class="row text-center text-uppercase">
                    <div class="col-lg-12 col-sm-12 g-mb-50">
                        <div id="accordion-03" class="u-accordion" role="tablist" aria-multiselectable="true">
                            <!-- Card -->
                            <div class="card rounded-0 g-mb-5">
                                <div id="accordion-03-heading-01" class="u-accordion__header" role="tab">
                                    <h5 class="mb-0">
                                        <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-size-16 "
                                           href="#accordion-03-body-01" data-toggle="collapse"
                                           data-parent="#accordion-03" aria-expanded="true"
                                           aria-controls="accordion-03-body-01">Code
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion-03-body-01" class="collapse hide" role="tabpanel"
                                     aria-labelledby="accordion-03-heading-01">
                                    <div class="u-accordion__body g-brd-top g-brd-gray-light-v4 g-color-gray-dark-v5">
                                        <span th:text="${address.code}">

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="blockMined" role="tabpanel"></div>

            <div class="tab-pane fade" id="blockComments" role="tabpanel">
                <div id="disqus_thread"></div>
            </div>
        </div>
        <!-- End Tab panes -->
    </section>


</div>

<div layout:fragment="footer-content">
    <!-- JS Implementing Plugins -->
    <script th:src="@{/assets/vendor/appear.js}"></script>
    <script th:src="@{/assets/js/jquery-qrcode-0.14.0.min.js}"></script>

    <script th:src="@{/assets/vendor/custombox/custombox.min.js}"></script>
    <script th:src="@{/assets/js/components/hs.modal-window.js}"></script>
    <script type="application/javascript">
		$(document).ready(function () {
			$.HSCore.components.HSModalWindow.init('[data-modal-target]');
		});
    </script>

    <span id="currentAddress" th:attr="data-hash=${hash}"></span>

    <script type="application/javascript">
		$(document).ready(function () {
			var populateTokens = function () {
				$.get('/address/' + $("#currentAddress").data('hash') + '/tokens', function (result) {
					$("#tokenSection").html(result);
				});
			};
			var populateTokenTransfers = function () {
				$.get('/address/' + $('#currentAddress').data('hash') + '/has-token-transfers', function (result) {
					if (result === true) {
						$.get('/address/' + $('#currentAddress').data('hash') + '/token-transfers', function (result) {
							$('#tokenTransferDiv').html(result);
							$('#tokenTransferTab').show();
						});
					}
				});
			};
			var populateMinedBlocks = function () {
				$.get('/address/' + $('#currentAddress').data('hash') + '/has-mined-blocks', function (result) {
					console.log(result);
					if (result === true) {
						$.get('/address/' + $('#currentAddress').data('hash') + '/mined-blocks', function (result) {
							$('#blockMined').html(result);
							$('#minedTab').show();
						})
					}
				})
			};

			populateTokens();
			populateTokenTransfers();
			populateMinedBlocks();

            $('#qrcode').qrcode({
                text: $('#currentAddress').data('hash'),
				ecLevel: 'H',
                mode: 4,
				mSize: 15 * 0.01,
				mPosX: 50 * 0.01,
				mPosY: 50 * 0.01,
                image: $('#logo')[0]
            });
		});
    </script>

    <th:block th:replace="components/disqus :: footer"></th:block>

</div>
</body>
</html>
