<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">
</div>

<body>
<div layout:fragment="main-content">
    <section class="breadcrumbs g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex ">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Address: <br/>
                        <b> <span th:text="${hash}"></span> <span th:if="${isSpecial}">( <span
                                th:text="${specialName}"></span> )</span></b>
                    </h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Home</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Addresses</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>Address</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="container g-pt-10 g-pb-30">

        <h1 style="display: none;">Ethereum Address: <span th:text="${hash}"></span></h1>

        <!-- Nav tabs -->
        <ul class="nav u-nav-v8-1" role="tablist" data-target="nav-8-1-default-hor-left"
            data-tabs-mobile-type="slide-up-down"
            data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#blockInformation" role="tab">
      <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
        <i class="fa fa-binoculars"></i>
      </span>
                    <strong class="text-uppercase u-nav-v8__title">Information</strong>
                    <em class="u-nav-v8__description">General information about this block.</em>
                </a>
            </li>
            <li th:if="${address.isContract()}" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#addressCode" role="tab">
      <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
        <i class="fa fa-code"></i>
      </span>
                    <strong class="text-uppercase u-nav-v8__title">Code</strong>
                    <em class="u-nav-v8__description">This is a smart contract.</em>
                </a>
            </li>
            <li th:if="${address.minedBlocks.hasContent()}" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#blockMined" role="tab">
                          <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
                            <i class="fa fa-th"></i>
                          </span>
                    <strong class="text-uppercase u-nav-v8__title">Mined</strong>
                    <em class="u-nav-v8__description">Blocks</em>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#blockComments" role="tab">
                          <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
                            <i class="fa fa-comments-o"></i>
                          </span>
                    <strong class="text-uppercase u-nav-v8__title">Comments</strong>
                    <em class="u-nav-v8__description">Join the conversation.</em>
                </a>
            </li>
        </ul>
        <!-- End Nav tabs -->

        <!-- Tab panes -->
        <div id="nav-8-1-default-hor-left" class="tab-content g-pt-20">
            <div class="tab-pane fade show active" id="blockInformation" role="tabpanel">

                <div class="row text-center text-uppercase">
                    <div class="col-lg-3 col-sm-6 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <div class="g-font-size-35 g-font-weight-300 g-mb-7"
                                 th:text="${address.transactionCount}">
                                52147
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Transaction Count</h4>
                        </div>
                    </div>

                    <div class="col-lg-9 col-sm-12 g-mb-50">
                        <div class="g-brd-around g-brd-primary g-pa-20">
                            <div class="g-font-size-35 g-font-weight-300 g-mb-7"
                                 th:text="${address.balance}">24583
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Balance</h4>
                        </div>
                    </div>
                </div>

                <section th:if="${address.transactions.hasContent()}">

                    <div th:if="${address.transactions.hasNext()}"
                         class="alert alert-dismissible fade show g-bg-teal g-color-white rounded-0" role="alert">
                        <button type="button" class="close u-alert-close--light" data-dismiss="alert"
                                aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <div class="media">
                        <span class="d-flex g-mr-10 g-mt-5">
                          <i class="icon-check g-font-size-25"></i>
                        </span>
                            <span class="media-body align-self-center">
                          <strong>More Transactions!</strong> <a th:href="@{/tx?q=} + ${hash}" style="color:white;">Find out all transactions related to this account.</a>
                        </span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Hash</th>
                                        <th>Block</th>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr th:each="tx : ${address.transactions.getContent()}">
                                        <td><a th:href="@{'/tx/' + ${tx.hash}}"><span
                                                th:text="${tx.prettyHash()}"></span></a></td>
                                        <td><a th:href="@{'/blocks/' + ${tx.blockHash}}"><span
                                                th:text="${tx.blockHeight}"></span></a></td>
                                        <td>
                                            <a th:href="@{'/address/' + ${tx.fromAddress}}"
                                               th:if="${tx.direction(hash) == T(cloud.cinder.cindercloud.transaction.model.Transaction.Direction).IN}"><span
                                                    th:text="${tx.prettyFromAddress()}"></span></a>
                                            <span th:unless="${tx.direction(hash) == T(cloud.cinder.cindercloud.transaction.model.Transaction.Direction).IN}"
                                                  th:text="${tx.prettyFromAddress()}"></span>
                                        </td>
                                        <td>
                                            <div th:if="${tx.isContractCreation()}">
                                                <a th:href="@{'/address/' + ${tx.creates}}"
                                                   th:unless="${tx.direction(hash) == T(cloud.cinder.cindercloud.transaction.model.Transaction.Direction).IN}"><span
                                                        th:text="${tx.prettyToAddress()}"></span></a>
                                                <span th:if="${tx.direction(hash) == T(cloud.cinder.cindercloud.transaction.model.Transaction.Direction).IN}"
                                                      th:text="${tx.prettyToAddress()}"></span>
                                            </div>
                                            <div th:unless="${tx.isContractCreation()}">
                                                <a th:href="@{'/address/' + ${tx.creates}}"
                                                   th:unless="${tx.direction(hash) == T(cloud.cinder.cindercloud.transaction.model.Transaction.Direction).IN}"><span
                                                        th:text="${tx.prettyToAddress()}"></span></a>
                                                <span th:if="${tx.direction(hash) == T(cloud.cinder.cindercloud.transaction.model.Transaction.Direction).IN}"
                                                      th:text="${tx.prettyToAddress()}"></span>
                                            </div>
                                        </td>
                                        <td>
                                        <span class="u-label u-label-success g-color-white"
                                              th:text="${tx.formattedValue()}">0</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- End Table Striped Rows -->
                    </div>
                </section>
                <section th:unless="${address.transactions.hasContent() || address.transactionCount > 0}">
                    <div class="alert alert-dismissible fade show g-bg-gray-dark-v2 g-color-white rounded-0"
                         role="alert">
                        <button type="button" class="close u-alert-close--light" data-dismiss="alert"
                                aria-label="Close">
                            <span class="g-color-white" aria-hidden="true">×</span>
                        </button>

                        <div class="media">
        <span class="d-flex g-mr-10 g-mt-5">
          <i class="icon-question g-font-size-25"></i>
        </span>
                            <span class="media-body align-self-center">
          <strong>Unused account?</strong><br/> No transactions could be found referencing this account. Maybe we didn't index them yet?
        </span>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane fade" id="addressCode" role="tabpanel">
                <div class="row text-center text-uppercase">
                    <div class="col-lg-12 col-sm-12 g-mb-50">
                        <div id="accordion-03" class="u-accordion" role="tablist" aria-multiselectable="true">
                            <!-- Card -->
                            <div class="card rounded-0 g-mb-5">
                                <div id="accordion-03-heading-01" class="u-accordion__header" role="tab">
                                    <h5 class="mb-0">
                                        <a class="d-block u-link-v5 g-color-main g-color-primary--hover g-font-size-16 "
                                           href="#accordion-03-body-01" data-toggle="collapse"
                                           data-parent="#accordion-03" aria-expanded="true"
                                           aria-controls="accordion-03-body-01">Code
                                        </a>
                                    </h5>
                                </div>
                                <div id="accordion-03-body-01" class="collapse hide" role="tabpanel"
                                     aria-labelledby="accordion-03-heading-01">
                                    <div class="u-accordion__body g-brd-top g-brd-gray-light-v4 g-color-gray-dark-v5">
                                        <span th:text="${address.code}">

                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${address.minedBlocks.hasContent()}" class="tab-pane fade" id="blockMined" role="tabpanel">

                <div th:if="${address.minedBlocks.hasNext()}"
                     class="alert alert-dismissible fade show g-bg-teal g-color-white rounded-0" role="alert">
                    <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="media">
                        <span class="d-flex g-mr-10 g-mt-5">
                          <i class="icon-check g-font-size-25"></i>
                        </span>
                        <span class="media-body align-self-center">
                          <strong>More blocks!</strong> <a th:href="@{/blocks?mined_by=} + ${hash}"
                                                           style="color:white;">Find out all blocks this account has mined.</a>
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Height</th>
                                    <th>Hash</th>
                                    <th>Age</th>
                                    <th>TxCount</th>
                                    <th>Gas Used</th>
                                    <th>Gas Limit</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="block : ${address.minedBlocks.getContent()}">
                                    <td>
                                        <a th:href="@{'/blocks/' + ${block.hash}}">
                                            <span th:text="${block.height}"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <a th:href="@{'/blocks/' + ${block.hash}}">
                                            <span th:text="${block.prettyHash()}"></span>
                                        </a>
                                    </td>
                                    <td><span th:text="${block.prettyTimestamp()}"></span></td>

                                    <td>
                                        <span th:text="${block.txCount}"></span>
                                    </td>
                                    <td>
                                        <span th:text="${block.gasUsed}"></span> <b>(
                                        <span th:text="${block.gasUsedPercentage()}"></span>)</b>
                                    </td>
                                    <td>
                                        <span th:text="${block.gasLimit}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tab-pane fade" id="blockComments" role="tabpanel">
                <div id="disqus_thread"></div>
            </div>
        </div>
        <!-- End Tab panes -->
    </section>
</div>

<div layout:fragment="footer-content">
    <!-- JS Implementing Plugins -->
    <script th:src="@{/assets/vendor/appear.js}"></script>

    <span id="currentAddress" th:attr="data-hash=${hash}"></span>

    <script type="application/javascript">
        $(document).ready(function(){

        	var displayToken = function(token, amount) {
                console.log(token.name + ": " + amount);
            };

            $.get('/rest/tokens', function(response) {
                $.each(response, function(idx, token){
                	$.get('/rest/erc20/' + token.address + '/balance?address=' + $("#currentAddress").data('hash'), function(balance) {
                		displayToken(token, balance);
                    });
                })
            });
        });
    </script>

    <th:block th:replace="components/disqus :: footer"></th:block>

</div>
</body>
</html>
