<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">
    <title>
        <th:block th:text="${token.name}"></th:block>
        Token | Cindercloud | The Ethereum Blockchain Interactor and Explorer
    </title>
</div>

<body>
<div layout:fragment="main-content">
    <section class="breadcrumbs g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex ">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Token: <br />
                        <b> <span th:text="${token.address}"></span> <span>( <span
                                th:text="${token.name}"></span> )</span></b>
                    </h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Home</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Addresses</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>Token</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="container g-pt-10 g-pb-30">

        <h1 style="display: none;">Ethereum Address: <span th:text="${token.address}"></span></h1>

        <!-- Nav tabs -->
        <ul class="nav u-nav-v8-1" role="tablist" data-target="nav-8-1-default-hor-left"
            data-tabs-mobile-type="slide-up-down"
            data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#blockInformation" role="tab">
      <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
        <i class="fa fa-binoculars"></i>
      </span>
                    <strong class="text-uppercase u-nav-v8__title">Information</strong>
                    <em class="u-nav-v8__description">General information about this token.</em>
                </a>
            </li>
            <li id="tokenTransfersTab" style="display: none;" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tokenTransfersBlock" role="tab">
                          <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
                            <i class="fa fa-paper-plane"></i>
                          </span>
                    <strong class="text-uppercase u-nav-v8__title">Transfers</strong>
                    <em class="u-nav-v8__description">Latest Transfers of this token</em>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#blockComments" role="tab">
                          <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
                            <i class="fa fa-comments-o"></i>
                          </span>
                    <strong class="text-uppercase u-nav-v8__title">Comments</strong>
                    <em class="u-nav-v8__description">Join the conversation.</em>
                </a>
            </li>
        </ul>
        <!-- End Nav tabs -->

        <!-- Tab panes -->
        <div id="nav-8-1-default-hor-left" class="tab-content g-pt-20">
            <div class="tab-pane fade show active" id="blockInformation" role="tabpanel">
                <div class="row g-mb-20">
                    <div class="col-md-6">
                        <div class="g-brd-around g-brd-primary g-pa-20">

                            <div class="g-font-size-35 g-font-weight-300 g-mb-7">
                                <div class="row">
                                    <div class="col-md-2">
                                        <img style="height: 80px;"
                                             th:src="@{https://raw.githubusercontent.com/TrustWallet/tokens/master/images/} + ${#strings.toLowerCase(token.address)} + .png" />

                                    </div>
                                    <div class="col-md-10">
                                        <span th:text="${token.name}"></span>
                                        <h4 class="h5 g-color-gray-dark-v4 g-mb-5" id="erc20Name">Name</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="g-brd-around g-brd-primary g-pa-20">

                            <div class="g-font-size-35 g-font-weight-300 g-mb-7" th:text="${token.decimals}">Decimals
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5" id="erc20Decimals">Decimals</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="g-brd-around g-brd-primary g-pa-20">
                            <div class="g-font-size-35 g-font-weight-300 g-mb-7" th:text="${token.symbol}">Symbol</div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5" id="erc20Symbol">Symbol</h4>
                        </div>
                    </div>
                </div>
                <div class="row g-mb-20">
                    <div class="col-md-2">
                        <div class="g-brd-around g-brd-primary g-pa-20">
                            <div class="g-font-size-30 g-font-weight-300 g-mb-7"><span th:text="${price_eur}"></span>
                            </div>
                            <h4 class="h4 g-color-gray-dark-v4 g-mb-5" id="eurPrice">€</h4>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="g-brd-around g-brd-primary g-pa-20">
                            <div class="g-font-size-30 g-font-weight-300 g-mb-7"><span th:text="${price_usd}"></span>
                            </div>
                            <h4 class="h4 g-color-gray-dark-v4 g-mb-5" id="usdPrice">$</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="g-brd-around g-brd-primary g-pa-20">
                            <div class="g-font-size-30 g-font-weight-300 g-mb-7">
                                <span th:text="${price_eth}"></span></div>
                            <h4 class="h4 g-color-gray-dark-v4 g-mb-5" id="ethPrice">Ξ</h4>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="g-brd-around g-brd-primary g-pa-20">
                            <div class="g-font-size-30 g-font-weight-300 g-mb-7" id="erc20TotalSupply">?</div>
                            <h4 class="h4 g-color-gray-dark-v4 g-mb-5">Total Supply</h4>
                        </div>
                    </div>
                </div>
                <div class="row g-mb-20">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="g-brd-around g-brd-primary g-pa-20">
                            <div class="g-font-size-35 g-font-weight-300 g-mb-7">Check Balance</div>
                            <div class="input-group g-rounded-left-3">
                                <span class="input-group-addon g-width-45 g-brd-gray-light-v3 g-color-gray-dark-v5">
                                  <i class="icon-media-095 u-line-icon-pro"></i>
                                </span>
                                <input id="erc20BalanceCheck" autocomplete="off"
                                       class="form-control form-control-md rounded-0"
                                       type="text" placeholder="address" />
                                <div class="input-group-btn">
                                    <button id="erc20CheckBalanceBtn" class="btn btn-md u-btn-primary rounded-0"
                                            type="button">Check
                                    </button>
                                </div>
                            </div>
                            <div style="text-align: center;">
                                <h4 class="g-font-size-35 g-font-weight-300 g-mb-7" id="balanceOfResult"></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="accessContract"></div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tokenTransfersBlock" role="tabpanel">
            </div>

            <div class="tab-pane fade" id="blockComments" role="tabpanel">
                <div id="disqus_thread"></div>
            </div>
        </div>
        <!-- End Tab panes -->
    </section>
</div>

<div layout:fragment="footer-content">
    <!-- JS Implementing Plugins -->
    <script th:src="@{/assets/vendor/appear.js}"></script>

    <span id="currentAddress" th:attr="data-hash=${token.address}"></span>

    <script type="application/javascript">
		$(document).ready(function () {
			$.get('/address/' + $("#currentAddress").data('hash') + '/tokens', function (result) {
				$("#tokenSection").html(result);
			});

			$.get('/token/' + $('#currentAddress').data('hash') + '/access-contract', function (result) {
				$("#accessContract").html(result);
			});
		});
    </script>

    <script type="application/javascript" th:src="@{/assets/js/custom/token/token.js}"></script>

    <th:block th:replace="components/disqus :: footer"></th:block>

</div>
</body>
</html>
