<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<th:block th:fragment="success">
    <div class="alert fade show g-brd-around g-brd-primary rounded-0" role="alert">
        <div class="media">
            <div class="d-flex g-mr-10">
          <span class="u-icon-v3 u-icon-size--sm g-bg-primary g-color-white g-rounded-50x">
            <i class="fa fa-thumbs-up"></i>
          </span>
            </div>
            <div class="media-body">
                <div class="d-flex justify-content-between">
                    <span th:if="${title}" th:text="${title}"></span>
                </div>
                <p th:if="${body}" th:text="${body}" class="m-0 g-font-size-14"></p>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="error">

</th:block>

<th:block th:fragment="warning">
    <div class="alert fade show g-brd-around g-brd-orange rounded-0" role="alert">
        <div class="media">
            <div class="d-flex g-mr-10">
          <span class="u-icon-v3 u-icon-size--sm g-bg-orange g-color-white g-rounded-50x">
            <i class="fa fa-warning"></i>
          </span>
            </div>
            <div class="media-body">
                <div class="d-flex justify-content-between">
                    <span th:if="${title}" th:text="${title}"></span>
                </div>
                <p th:if="${body}" th:text="${body}" class="m-0 g-font-size-14"></p>
            </div>
        </div>
    </div>
</th:block>

</html>