<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<div th:fragment="blocks">
    <h2>Blocks</h2>
    <hr/>
    <ul class="list-unstyled">
        <li th:each="block : ${blocks}"
            class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-blue-left rounded g-pa-20 g-mb-10">
            <div class="d-flex g-mt-2 g-mr-15">
            </div>
            <div class="media-body">
                <div class="d-flex justify-content-between">
                    <h5 class="h6 g-font-weight-600 g-color-black" th:text="${block.height}">elf</h5>
                    <span class="small text-nowrap g-color-blue" th:text="${block.prettyTimestamp()}">2 min ago</span>
                </div>
                <p>miner: <a th:href="@{/address/} + ${block.minedBy}"><b th:text="${block.prettyMinedBy()}"></b></a>
                </p>
                <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10"><b
                        th:text="${block.gasUsedPercentage()}"></b></span>
            </div>
        </li>
    </ul>
</div>

<div th:fragment="transactions">
    <h2>Transactions</h2>
    <hr/>
    <ul class="list-unstyled">
        <li th:each="tx : ${transactions}"
            class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-orange-left rounded g-pa-20 g-mb-10">
            <div class="d-flex g-mt-2 g-mr-15">
            </div>
            <div class="media-body">
                <div class="d-flex justify-content-between">
                    <h5 class="h6 g-font-weight-600 g-color-black" th:text="${tx.prettyHash()}">elf</h5>
                    <span class="small text-nowrap g-color-blue" th:text="${tx.blockHeight}">2 min ago</span>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <p>from: <a th:href="@{/address/} + ${tx.fromAddress}"><b
                                th:text="${tx.prettyFromAddress()}"></b></a></p>
                    </div>
                    <div class="col-md-6">
                        <p>to: <a th:href="@{/address/} + ${tx.toAddress}"><b th:text="${tx.prettyToAddress()}"></b></a>
                        </p>
                    </div>
                </div>
                <span class="u-label u-label--sm g-bg-gray-light-v4 g-color-main g-rounded-20 g-px-10"><b
                        th:text="${tx.formattedValue()}"></b></span>
            </div>
        </li>
    </ul>
</div>

</html>