<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<div th:fragment="searchblock">
    <!-- Promo Block - Parallax -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall"
             data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <div class="divimage dzsparallaxer--target w-100"
             style="height: 130%; background-image: url(/assets/img/bg/search-bg-2.jpg);"></div>

        <!-- Promo Block Content -->
        <div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-bluegray-opacity-0_3--after g-py-150">
            <div class="container text-center g-z-index-1">
                <h2 class="h1 g-color-white g-font-weight-600 text-uppercase g-mb-30">Vind hier
                    <span class="g-color-primary">uw vakman</span></h2>

                <!-- Promo Blocks - Form -->
                <form th:action="@{/opdrachten}" method="GET">
                    <!-- Promo Blocks - Input -->
                    <div class="form-group g-max-width-540 mx-auto g-mb-20">
                        <div class="input-group">
                            <input name="q"  id="q"
                                   class="form-control u-form-control g-brd-white g-font-size-16 g-placeholder-gray rounded-0 g-px-12"
                                   type="text" placeholder="Zoeken naar vakmensen of opdrachten."/>
                            <div class="input-group-btn">
                                <button class="btn btn-primary g-font-size-18 rounded-0 g-py-12 g-px-25 mb-0"
                                        type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- End Promo Blocks - Input -->

                </form>
                <!-- End Promo Blocks - Form -->
            </div>
        </div>
        <!-- End Promo Block Content -->
    </section>
    <!-- End Promo Block - Parallax -->
</div>

<div th:fragment="search-block">
    <div class="search-block parallaxBg">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <h1>Vind hier <span class="color-green">uw vakman</span></h1>

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Zoeken naar vakmensen of opdrachten."/>
                    <span class="input-group-btn">
							<button class="btn-u btn-u-lg" type="button"><i class="fa fa-search"></i></button>
						</span>
                </div>
            </div>
        </div>
    </div><!--/container-->
</div>

<div th:fragment="hoe-werken-wij">

    <section class="g-pos-rel g-overflow-hidden">
        <div class="container g-pt-100 g-pb-50">
            <div class="row justify-content-between">
                <div class="col-lg-5 g-mb-50">
                    <!-- Heading -->
                    <div class="u-heading-v6-2 g-mb-60">
                        <h2 class="u-heading-v6__title g-color-black g-font-weight-600 g-mb-30">Hoe werkt<br/>deze
                            website?
                        </h2>
                        <p class=" g-pl-90">The time has come to bring those ideas and plans to life. This is where we
                            really begin to visualize your napkin sketches and make them into beautiful pixels.</p>
                    </div>
                    <!-- End Heading -->
                </div>

                <div class="col-lg-6">
                    <!-- Icon Blocks -->
                    <div class="row">
                        <div class="col-sm-6 text-center text-lg-left g-mb-50">
                            <!-- Icon Blocks -->
                            <span class="u-icon-v1 u-icon-size--lg g-color-teal g-bg-teal-opacity-0_1 g-font-size-18 rounded-circle mb-4">
                  <i class="icon-education-087 u-line-icon-pro"></i>
                </span>
                            <h3 class="h5 g-color-black g-font-weight-600 mb-2">Opdracht plaatsen</h3>
                            <p class="mb-0">Plaats gratis en vrijblijvend je opdracht. Geef zo veel mogelijk info, zodat
                                wij de juiste vakmensen kunnen matchen met jouw opdracht.</p>
                            <!-- End Icon Blocks -->
                        </div>

                        <div class="col-sm-6 text-center text-lg-left g-mb-50">
                            <!-- Icon Blocks -->
                            <span class="u-icon-v1 u-icon-size--lg g-color-cyan g-bg-cyan-opacity-0_1 g-font-size-18 rounded-circle mb-4">
                  <i class="icon-education-035 u-line-icon-pro"></i>
                </span>
                            <h3 class="h5 g-color-black g-font-weight-600 mb-2">Vakmensen kunnen reageren</h3>
                            <p class="mb-0">Vakmensen kunnen reageren op je opdracht of je persoonlijk contacteren
                                (indien gewenst). Zo kan jij een goede vergelijking maken.</p>
                            <!-- End Icon Blocks -->
                        </div>

                        <div class="col-sm-6 text-center text-lg-left g-mb-50">
                            <!-- Icon Blocks -->
                            <span class="u-icon-v1 u-icon-size--lg g-color-darkblue g-bg-darkblue-opacity-0_1 g-font-size-18 rounded-circle mb-4">
                  <i class="icon-education-140 u-line-icon-pro"></i>
                </span>
                            <h3 class="h5 g-color-black g-font-weight-600 mb-2">Jouw beoordeling is belangrijk</h3>
                            <p class="mb-0">Heb je samen gewerkt met een vakman? Geef je beoordeling!</p>
                            <!-- End Icon Blocks -->
                        </div>

                        <div class="col-sm-6 text-center text-lg-left g-mb-50">
                            <!-- Icon Blocks -->
                            <span class="u-icon-v1 u-icon-size--lg g-color-purple g-bg-purple-opacity-0_1 g-font-size-18 rounded-circle mb-4">
                  <i class="icon-finance-256 u-line-icon-pro"></i>
                </span>
                            <h3 class="h5 g-color-black g-font-weight-600 mb-2">Bestanden delen</h3>
                            <p class="mb-0">Met ons platform kan je gemakkelijk meetstaten, plannen en meer delen met je
                                aannemers.</p>
                            <!-- End Icon Blocks -->
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
            </div>

            <img class="g-width-600 g-pos-abs g-bottom-minus-25x g-z-index-minus-1"
                 th:src="@{/assets/img/maps/map3.png}"
                 alt="Image Description"/>
        </div>
    </section>
</div>

<div th:fragment="testimonials">

    <section class="container g-pt-100 g-pb-50">
        <h2 class="h3 g-color-black mb-0">WAT MENSEN ZEGGEN</h2>
        <div class="d-inline-block g-width-50 g-height-1 g-bg-black"></div>

        <div class="row">
            <div class="col-md-6 g-mb-50">
                <!-- Testimonials -->
                <div class="g-pos-rel g-pt-40">
                    <em class="g-color-gray-light-v5 g-font-size-120 g-pos-abs g-top-minus-15 g-left-minus-15 g-z-index-minus-1">
                        “
                    </em>
                    <blockquote class="lead g-font-style-italic g-line-height-2 g-pl-30 g-mb-30">De belangrijkste troef
                        is volgens mij het vlotte communicatiekanaal dat ik met potentiële klanten kan opbouwen.
                    </blockquote>
                    <div class="media">
                        <img class="d-flex align-self-center g-width-50 g-height-50 rounded-circle mr-3"
                             th:src="@{/assets/img/testimonials/img5.jpg}" alt="Image Description"/>
                        <div class="media-body align-self-center">
                            <h4 class="g-color-black g-font-size-17 g-mb-0">Eric De Swaef</h4>
                            <span class="d-block g-color-gray-dark-v4 g-font-size-12">Zaakvoerder</span>
                        </div>
                    </div>
                </div>
                <!-- End Testimonials -->
            </div>

            <div class="col-md-6 g-mb-50">
                <!-- Testimonials -->
                <div class="g-pos-rel g-pt-40">
                    <em class="g-color-gray-light-v5 g-font-size-120 g-pos-abs g-top-minus-15 g-left-minus-15 g-z-index-minus-1">
                        “
                    </em>
                    <blockquote class="lead g-font-style-italic g-line-height-2 g-pl-30 g-mb-30">Toen mijn vriend en ik
                        begonnen met bouwen wisten we niet waar we moesten beginnen met vergelijken. Deze website bracht
                        hier een groot verschil in!
                    </blockquote>
                    <div class="media">
                        <img class="d-flex align-self-center g-width-50 g-height-50 rounded-circle mr-3"
                             th:src="@{/assets/img/testimonials/img3.jpg}" alt="Image Description"/>
                        <div class="media-body align-self-center">
                            <h4 class="g-color-black g-font-size-17 g-mb-0">Kelly Vael</h4>
                            <span class="d-block g-color-gray-dark-v4 g-font-size-12">particulier</span>
                        </div>
                    </div>
                </div>
                <!-- End Testimonials -->
            </div>
        </div>
    </section>
</div>
</html>