<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>


<div th:fragment="keystore" id="keystoreComponent" class="col-md-6 col-lg-5 order-lg-2 g-mb-80">
    <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
        <header class="text-center mb-4">
            <h1 class="h4 g-color-black g-font-weight-400">Use your keystore file</h1>
        </header>

        <!-- Form -->
        <form method="POST" th:action="@{/wallet/login?type=keystore}" th:object="${keystoreLoginCommand}"
              class="g-py-15">

            <div th:if="${error != null}" class="alert alert-dismissible fade show g-bg-red g-color-white rounded-0" role="alert">
                <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

                <div class="media">
                    <span class="d-flex g-mr-10 g-mt-5">
                      <i class="icon-ban g-font-size-25"></i>
                    </span>
                                <span th:text="${error}" class="media-body align-self-center">
                      Change a few things up and try submitting again.
                    </span>
                </div>
            </div>

            <div class="mb-4">
                <input class="btn btn-block u-btn-secondary g-font-size-12 text-uppercase g-py-12 g-px-25" id="upload"
                       type="file" name="file" size="1"/>
            </div>
            <div class="mb-4">
                <div class="input-group g-rounded-left-3">
                    <span class="input-group-addon g-width-45 g-brd-gray-light-v3 g-color-gray-dark-v5">
                      <i class="icon-media-094 u-line-icon-pro"></i>
                    </span>
                    <input th:field="*{password}" autocomplete="off"
                           class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-rounded-left-0 g-rounded-right-3 g-py-15 g-px-15"
                           type="password" placeholder="password"/>
                </div>
            </div>


            <input type="hidden" th:field="*{keystoreValue}" id="keystoreValue"/>

            <script>
				function handleFileSelect(evt) {
					var files = evt.target.files; // FileList object

					// use the 1st file from the list
					f = files[0];

					var reader = new FileReader();

					// Closure to capture the file information.
					reader.onload = (function (theFile) {
						return function (e) {

							jQuery('#keystoreValue').val(e.target.result);
						};
					})(f);

					// Read in the image file as a data URL.
					reader.readAsText(f);
				}

				document.getElementById('upload').addEventListener('change', handleFileSelect, false);
            </script>

            <button class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" type="submit">
                Login
            </button>
        </form>
        <!-- End Form -->
    </div>
</div>

<div id="privateKeyComponent" class="col-md-6 col-lg-5 order-lg-2 g-mb-80" style="display: none;" th:fragment="privateKey">
    <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
        <header class="text-center mb-4">
            <h1 class="h4 g-color-black g-font-weight-400">Use your Private Key</h1>
        </header>

        <!-- Form -->
        <form method="POST" th:action="@{/wallet/login?type=privatekey}" th:object="${privatekeyLoginCommand}"
              class="g-py-15">

            <div th:if="${error != null}" class="alert alert-dismissible fade show g-bg-red g-color-white rounded-0" role="alert">
                <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

                <div class="media">
                    <span class="d-flex g-mr-10 g-mt-5">
                      <i class="icon-ban g-font-size-25"></i>
                    </span>
                    <span th:text="${error}" class="media-body align-self-center">
                      Change a few things up and try submitting again.
                    </span>
                </div>
            </div>

            <div class="mb-4">
                <div class="input-group g-rounded-left-3">
                    <span class="input-group-addon g-width-45 g-brd-gray-light-v3 g-color-gray-dark-v5">
                      <i class="icon-media-094 u-line-icon-pro"></i>
                    </span>
                    <input th:field="*{privateKey}" autocomplete="off"
                           class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-rounded-left-0 g-rounded-right-3 g-py-15 g-px-15"
                           type="text" placeholder="0x000"/>
                </div>
            </div>


            <button class="btn btn-block u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" type="submit">
                Login
            </button>
        </form>
        <!-- End Form -->
    </div>

</div>
</html>