<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<div th:fragment="plaats">
    <div class="row">

        <div class="col-md-2">

        </div>
        <div class="col-md-10">

            <section class="g-py-50">
                <div class="row">
                    <div class="col-md-2">
                        <h3 class="h4 g-font-weight-300">Plaats nieuwe opdracht</h3>
                    </div>
                    <div class="col-md-10">
                        <form enctype="multipart/form-data"
                              th:method="POST" th:action="@{/opdrachten/plaatsen}"
                              th:object="${nieuweOpdrachtDto}"
                              class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30">
                            <div th:errorclass="u-has-error-v1" th:name="title" class="form-group row g-mb-25">
                                <label class="col-sm-3 col-form-label g-mb-10" for="hf-email"
                                       th:text="#{plaatsorder.title}">Text input</label>
                                <div class="col-sm-9">
                                    <input id="hf-email" th:field="*{title}"
                                           class="form-control u-form-control rounded-0"
                                           placeholder="Voeg titel toe"/>
                                </div>
                            </div>
                            <div th:errorclass="u-has-error-v1" th:name="specialisatie" class="form-group row g-mb-25">
                                <label class="col-sm-3 col-form-label g-mb-10" for="hf-email"
                                >Specialisatie</label>
                                <div class="col-sm-9">
                                    <select th:field="*{specialisatie}" class="form-control u-form-control rounded-0"
                                            name="specialisatie">
                                        <option th:each="specialisatie : ${specialisaties}"
                                                th:value="${specialisatie.id}"
                                                th:text="${specialisatie.name}">spec
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div th:errorclass="u-has-error-v1" th:name="description" class="form-group row g-mb-25">
                                <label class="col-sm-3 col-form-label g-mb-10" for="hf-email">Omschrijving</label>
                                <div class="col-sm-9">
                                    <textarea th:field="*{description}"
                                              class="form-control form-control-md g-resize-none rounded-0"
                                              placeholder="omschrijving" rows="3"></textarea>
                                </div>
                            </div>
                            <div th:errorclass="u-has-error-v1" th:name="postCode" class="form-group row g-mb-25">
                                <label class="col-sm-3 col-form-label g-mb-10" for="hf-postcode">postcode</label>
                                <div class="col-sm-9">
                                    <input id="hf-postcode" th:field="*{postCode}"
                                           class="form-control u-form-control rounded-0" type="number"/>
                                </div>
                            </div>
                            <h4 class="h6 g-font-weight-700 g-mb-20">Wanneer zouden de werken mogen plaats vinden?</h4>
                            <div class="btn-group justified-content">
                                <label class="u-check" th:each="period : ${periods}">
                                    <input class="hidden-xs-up g-pos-abs g-top-0 g-left-0" th:field="*{opdrachtPeriod}"
                                           th:value="${period}" type="radio" checked=""/>
                                    <span class="btn btn-md btn-block u-btn-outline-lightgray g-color-white--checked g-bg-primary--checked rounded-0"
                                          th:text="#{${period}}">USA</span>
                                </label>
                            </div>
                            <br />
                            <hr />
                            <br />

                            <div th:errorclass="u-has-error-v1" th:name="email" class="form-group row g-mb-25">
                                <label class="col-sm-3 col-form-label g-mb-10" for="hf-email"
                                       th:text="#{plaatsorder.email}">postcode</label>
                                <div class="col-sm-9">
                                    <input id="hf-email" th:field="*{email}"
                                           class="form-control u-form-control rounded-0"/>
                                </div>
                            </div>
                            <div th:errorclass="u-has-error-v1" th:name="phone" class="form-group row g-mb-25">
                                <label class="col-sm-3 col-form-label g-mb-10" for="hf-phone"
                                       th:text="#{plaatsorder.tel}">postcode</label>
                                <div class="col-sm-9">
                                    <input id="hf-phone" th:field="*{phone}"
                                           class="form-control u-form-control rounded-0"/>
                                </div>
                            </div>

                            <!-- Advanced File Input -->
                            <div class="form-group mb-0">
                                <label class="g-mb-10">Advanced File input</label>
                                <input id="uploadedFiles" class="js-file-attachment" type="file" name="file" />
                            </div>

                            <footer>
                                <button type="button" class="btn btn-md u-btn-outline-orange g-mr-10 g-mb-15" onclick="window.history.back();">Terug</button>
                                <button type="submit" class="btn btn-md u-btn-primary g-mr-10 g-mb-15">Plaatsen</button>
                            </footer>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<div th:fragment="plaatsen">
    <div class="container content-sm">
        <div class="panel-body">
            <form enctype="multipart/form-data"
                  th:method="POST" th:action="@{/opdrachten/plaatsen}" class="sky-form" role="form"
                  th:object="${nieuweOpdrachtDto}">


                <fieldset>
                    <h3>Bestanden toevoegen?</h3>
                    <label class="btn btn-default btn-file">
                        Browse <input type="file" name="file" style="display: none;"/>
                    </label>
                    <button type="submit" name="addFile">upload file</button>
                    <table th:if="${not #lists.isEmpty(uploadedFiles)}" class="table table-striped">
                        <thead>
                        <tr>
                            <th>naam</th>
                            <th>acties</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="file : ${uploadedFiles}">
                            <td th:text="${file}"></td>
                            <td>
                                <button type="submit" class="btn-u btn-u-error" th:value="${file}" name="deleteFile"><i
                                        class="fa fa-remove"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>

                <footer>
                    <button type="submit" class="btn-u">Plaatsen</button>
                    <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Terug</button>
                </footer>
            </form>
        </div>
    </div><!--/container-->
</div>

<div th:fragment="laatste">
    <article th:each="opdracht : ${opdrachten}">
        <h3 class="h6 g-mb-2">
            <a class="g-color-white-opacity-0_8 g-color-white--hover"
               th:href="@{'/opdrachten/'} + ${opdracht.id} + '/detail'" th:text="${opdracht.title}"></a>
        </h3>
        <div class="small g-color-white-opacity-0_6" th:text="${opdracht.dateOfPosting}">May 8, 2017</div>
    </article>
</div>

<div th:fragment="zoeken">
    <div th:replace="components/landing :: searchblock" th:remove="tag"></div>
</div>

<div th:fragment="results">
    <section class="g-pt-50 g-pb-90">
        <div class="container">
            <!-- Search Info -->
            <div class="d-md-flex justify-content-between g-mb-30">
                <h3 class="h6 text-uppercase g-mb-10 g-mb--lg"><span class="g-color-gray-dark-v1"
                                                                     th:text="${opdrachten.content.size()}">384,907</span>
                    resultaten</h3>
            </div>
            <!-- End Search Info -->

            <div class="row">
                <div th:each="opdracht : ${opdrachten.content}" class="col-lg-4 g-mb-30">
                    <!-- Search Result -->
                    <article class="g-pa-25 u-shadow-v11 rounded">
                        <h2 class="h4 g-mb-15">
                            <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover"
                               th:href="@{/opdrachten/}  + ${opdracht.id} + @{/detail}"
                               th:text="${opdracht.title}">Unify - Responsive Website Template</a>
                        </h2>

                        <!-- Search Info -->
                        <ul class="list-inline d-flex justify-content-between g-mb-20">
                            <li class="list-inline-item g-mr-10">
                            </li>
                            <li class="list-inline-item">
                                <i class="icon-eye g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> <span
                                    th:text="${opdracht.dateOfPosting}"></span>
                            </li>
                        </ul>
                        <!-- End Search Info -->

                        <p class="g-mb-15" th:text="${opdracht.description}">omschr</p>
                        <hr/>
                        <!-- Share, Print and More -->
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item g-mr-20">
                                <a class="u-link-v5 g-color-gray-dark-v5 g-color-primary--hover" href="#">
                                    <i class="icon-share g-pos-rel g-top-1 g-mr-5"></i> <span
                                        th:text="${opdracht.specialisatie.name}"></span>
                                </a>
                            </li>
                        </ul>
                        <!-- End Share, Print and More -->
                    </article>
                    <!-- End Search Result -->
                </div>
            </div>

            <hr class="g-brd-gray-light-v4 g-mt-10 g-mb-40"/>
            <nav class="g-mb-50" aria-label="Page Navigation">

                <ul class="list-inline" th:if="${opdrachten.totalPages == 1}">
                    <li class="list-inline-item"><a class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-13"
                                                    href="#"
                                                    aria-label="Previous"
                                                    th:href="@{/opdrachten(page=${opdrachten.number - 1},q=${query})}">
                                  <span aria-hidden="true">
                              <i class="fa fa-angle-left"></i>
                                  </span>
                        <span class="sr-only">Previous</span>
                    </a></li>
                    <li class="list-inline-item hidden-sm-down">
                        <a class="u-pagination-v1__item u-pagination-v1-5 u-pagination-v1-5--active rounded g-pa-4-11"
                           href="#">1</a>
                    </li>

                    <li class="list-inline-item">
                        <a class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-13"
                           th:href="@{/opdrachten(page=${opdrachten.number + 1})}" aria-label="Next">
                <span aria-hidden="true">
                  <i class="fa fa-angle-right"></i>
                </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="list-inline-item float-right">
                        <span class="u-pagination-v1__item-info g-pa-4-11">Pagina <span
                                th:text="${opdrachten.number + 1}">1</span> van de <span
                                th:text="${opdrachten.totalPages}">3</span></span>
                    </li>
                </ul>

                <ul th:if="${opdrachten.totalPages == 2}" class="pagination">
                    <li class="list-inline-item"><a class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-13"
                                                    href="#"
                                                    aria-label="Previous"
                                                    th:href="@{/opdrachten(page=${opdrachten.number - 1},q=${query})}">
                                  <span aria-hidden="true">
                              <i class="fa fa-angle-left"></i>
                                  </span>
                        <span class="sr-only">Previous</span>
                    </a></li>
                    <li class="list-inline-item hidden-sm-down">
                        <a th:classappend="${opdrachten.number == 0} ? u-pagination-v1-5--active"
                           class="u-pagination-v1__item u-pagination-v1-5 u-pagination-v1-5--active rounded g-pa-4-11"
                           th:href="@{/opdrachten(page=0,q=${query})}">1</a>
                    </li>
                    <li class="list-inline-item hidden-sm-down">
                        <a th:classappend="${opdrachten.number == 1} ? u-pagination-v1-5--active"
                           class="u-pagination-v1__item u-pagination-v1-5 u-pagination-v1-5--active rounded g-pa-4-11"
                           th:href="@{/opdrachten(page=1,q=${query})}">2</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-13"
                           th:href="@{/opdrachten(page=${opdrachten.number + 1})}" aria-label="Next">
                <span aria-hidden="true">
                  <i class="fa fa-angle-right"></i>
                </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="list-inline-item float-right">
                        <span class="u-pagination-v1__item-info g-pa-4-11">Pagina <span
                                th:text="${opdrachten.number + 1}">1</span> van de <span
                                th:text="${opdrachten.totalPages}">3</span></span>
                    </li>
                </ul>

                <ul th:if="${opdrachten.totalPages > 2}">
                    <li class="list-inline-item"><a class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-13"
                                                    href="#"
                                                    aria-label="Previous"
                                                    th:href="@{/opdrachten(page=${opdrachten.number - 1},q=${query})}">
                                  <span aria-hidden="true">
                              <i class="fa fa-angle-left"></i>
                                  </span>
                        <span class="sr-only">Previous</span>
                    </a></li>
                    <li class="list-inline-item hidden-sm-down">
                        <a th:classappend="${opdrachten.number == 0} ? u-pagination-v1-5--active"
                           class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-11"
                           th:href="@{/opdrachten(page=0,q=${query})}">1</a>
                    </li>
                    <li th:if="${opdrachten.number != 0 &amp;&amp; opdrachten.number != (opdrachten.totalPages - 1)}"
                        class="list-inline-item hidden-sm-down">
                        <a th:text="${opdrachten.number + 1}" th:classappend="u-pagination-v1-5--active"
                           class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-11"
                           th:href="@{/opdrachten(page=${opdrachten.number}, q=${query})}">...</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-pagination-v1__item u-pagination-v1-5 rounded g-pa-4-13"
                           th:href="@{/opdrachten(page=${opdrachten.number + 1})}" aria-label="Next">
                <span aria-hidden="true">
                  <i class="fa fa-angle-right"></i>
                </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    <li class="list-inline-item float-right">
                        <span class="u-pagination-v1__item-info g-pa-4-11">Pagina <span
                                th:text="${opdrachten.number + 1}">1</span> van de <span
                                th:text="${opdrachten.totalPages}">3</span></span>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</div>
</html>