<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<div th:fragment="header">
    <link rel="stylesheet" th:href="@{/assets/vendor/web3/web3.js}"/>
</div>

<div th:fragment="footer">

    <script type="application/javascript">

		var _web3;

		$(document).ready(function () {
			initiateWeb3();
		});

		var initiateWeb3 = function () {
			if (typeof window.web3 !== 'undefined') {
				// Use Mist/MetaMask's provider
				console.log("already had a web3");
				_web3 = new Web3(window.web3.currentProvider);
                $("#btnWeb3Enabled").show();
			} else {
				$("#btnWeb3NotEnabled").show();
				console.log("no web3, injecting different provider");
				_web3 = new Web3(new Web3.providers.HttpProvider('https://parity.cinder.cloud'));
			}
		};
    </script>

</div>


</html>