<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">
    <link rel="stylesheet" th:href="@{/assets/vendor/icon-material/material-icons.css}"/>
</div>

<body>
<div layout:fragment="main-content">
    <!-- Promo Block -->
    <section class="g-bg-img-hero" style="background-image: url(/assets/images/landing/landing.jpeg);">
        <div class="container g-pos-rel g-z-index-1 g-py-150">
            <div class="g-mb-40">
                <h1 class="g-color-white g-font-weight-700 g-font-size-80 g-font-size-130--md g-line-height-1_2 mb-0">Cindercloud</h1>
                <span class="d-block g-color-white g-font-size-20 g-pos-rel g-top-minus-20--md ml-md-5">blockchain services</span>
            </div>

            <div class="text-right">
                    <span class="d-inline-block g-brd-bottom g-brd-white g-color-white g-font-weight-600 text-uppercase">Alpha Application</span>
            </div>
        </div>
    </section>
    <!-- End Promo Block -->

    <section class="dzsparallaxer auto-init height-is-based-on-content mode-scroll dzsprx-readyall">
        <!-- Parallax Image -->
        <div class="dzsparallaxer--target w-100" style="height: 140%; background: url('/assets/img/bg/pattern4.png'); transform: translate3d(0px, -48.9738px, 0px);"></div>
        <!-- End Parallax Image -->

        <div class="container g-pos-rel g-z-index-1 g-pt-100 g-pb-70">
            <div class="row text-center">
                <div class="col-md-4 col-lg-4 g-mb-30">
                    <!-- Counters -->
                    <div class="u-shadow-v21 g-bg-white rounded g-px-20 g-py-30">
                        <div class="js-counter g-color-primary g-font-weight-700 g-font-size-45 mb-1" th:text="${loginCount}"></div>
                        <h4 class="h6 g-color-black g-font-weight-600 text-uppercase">Logins</h4>
                    </div>
                </div>
                <!-- End Counters -->

                <div class="col-md-4 col-lg-4 g-mb-30">
                    <!-- Counters -->
                    <div class="u-shadow-v21 g-bg-white rounded g-px-20 g-py-30">
                        <div class="js-counter g-color-primary g-font-weight-700 g-font-size-45 mb-1" th:text="${supportedTokenCount}">5</div>
                        <h4 class="h6 g-color-black g-font-weight-600 text-uppercase">supported tokens</h4>
                    </div>
                </div>
                <!-- End Counters -->

                <div class="col-md-4 col-lg-4 g-mb-30">
                    <!-- Counters -->
                    <div class="u-shadow-v21 g-bg-white rounded g-px-20 g-py-30">
                        <div class="js-counter g-color-primary g-font-weight-700 g-font-size-45 mb-1" th:text="${generatedWalletCount}">17</div>
                        <h4 class="h6 g-color-black g-font-weight-600 text-uppercase">Generated Wallets</h4>
                    </div>
                </div>
                <!-- End Counters -->
            </div>
        </div>
    </section>


    <!-- Gallery -->
    <section class="container-fluid g-px-0">
        <div class="row align-items-center no-gutters">
            <div class="col-md-6">
                <div class="text-center g-pa-15x">
                    <div class="mb-5">
                        <h3 class="h1 g-color-black mb-4">Your Secure Wallet</h3>
                        <p class="g-color-gray-dark-v4 g-font-size-16">
                            Cindercloud contains an easy to use, fully secure and user-friendly wallet. At the moment, the wallet supports ethereum and various ERC20 tokens.
                        </p>
                    </div>
                    <a class="btn u-btn-outline-primary g-font-weight-600 g-rounded-50 g-px-30 g-py-13" th:href="@{/wallet}">See more
                        <i class="ml-2 fa fa-long-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="g-flex-centered g-min-height-600 g-bg-secondary text-center">
                    <div class="u-shadow-v19 g-bg-white g-pa-25">
                        <img class="img-fluid u-shadow-v21" th:src="@{/assets/images/landing/screenshot-wallet.png}" alt="Wallet Screenshot" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Gallery -->

    <!-- Gallery -->
    <section class="container-fluid g-px-0">
        <div class="row align-items-center no-gutters">
            <div class="col-md-6 order-md-2">
                <div class="text-center g-pa-15x">
                    <div class="mb-5">
                        <h3 class="h1 g-color-black mb-4">Services</h3>
                        <p class="g-color-gray-dark-v4 g-font-size-16">
                            We're currently working on various services to make it easier for companies to thrive on ethereum.
                            <br />
                            Furthermore, we're implementing work to <b>make</b> the <b>life</b> of consumers of the ethereum blockchain <b>easier</b>.
                        </p>
                        <p>More on this later.</p>
                    </div>
                    <!--<a class="btn u-btn-outline-primary g-font-weight-600 g-rounded-50 g-px-30 g-py-13" href="#!">See more-->
                        <!--<i class="ml-2 fa fa-long-arrow-right"></i></a>-->
                </div>
            </div>

            <div class="col-md-6 order-md-1">
                <div class="g-flex-centered g-min-height-600 g-bg-secondary text-center">
                    <div class="g-pa-25">
                        <img class="img-fluid" th:src="@{/assets/images/landing/comingsoon.png}" alt="Coming soon!" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Gallery -->

</div>
<div layout:fragment="footer-content">

    <!-- JS Implementing Plugins -->
    <script th:src="@{/assets/vendor/hs-megamenu/src/hs.megamenu.js}"></script>
    <script th:src="@{/assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js}"></script>
    <script th:src="@{/assets/vendor/gmaps/gmaps.min.js}"></script>
    <script th:src="@{/assets/vendor/fancybox/jquery.fancybox.min.js}"></script>

    <script th:src="@{/assets/js/hs.core.js}"></script>
    <script th:src="@{/assets/js/components/hs.header.js}"></script>
    <script th:src="@{/assets/js/helpers/hs.hamburgers.js}"></script>
    <script th:src="@{/assets/js/components/hs.tabs.js}"></script>
    <script th:src="@{/assets/js/components/hs.cubeportfolio.js}"></script>
    <script th:src="@{/assets/js/components/hs.popup.js}"></script>
    <script th:src="@{/assets/js/components/hs.go-to.js}"></script>
    <script>
		$(document).on('ready', function () {
			// initialization of tabs
			$.HSCore.components.HSTabs.init('[role="tablist"]');

			// initialization of popups
			$.HSCore.components.HSPopup.init('.js-fancybox');

			// initialization of go to
			$.HSCore.components.HSGoTo.init('.js-go-to');
		});

		$(window).on('load', function () {
			// initialization of header
			$.HSCore.components.HSHeader.init($('#js-header'));
			$.HSCore.helpers.HSHamburgers.init('.hamburger');

			// initialization of HSMegaMenu component
			$('.js-mega-menu').HSMegaMenu({
				event: 'hover',
				pageContainer: $('.container'),
				breakpoint: 991
			});

			// initialization of cubeportfolio
			$.HSCore.components.HSCubeportfolio.init('.cbp');
		});

		$(window).on('resize', function () {
			setTimeout(function () {
				$.HSCore.components.HSTabs.init('[role="tablist"]');
			}, 200);
		});
    </script>
</div>
</body>
</html>
