<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">
</div>

<body>
<div layout:fragment="main-content">
    <section class="breadcrumbs g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Transaction
                        <small class="h5 g-font-weight-100"
                               th:text="${tx.hash}"></small>
                    </h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Home</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Transactions</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>transaction</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="container g-pt-10 g-pb-30">

        <!-- Nav tabs -->
        <ul class="nav u-nav-v8-1" role="tablist" data-target="nav-8-1-default-hor-left"
            data-tabs-mobile-type="slide-up-down"
            data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#transactionInformation" role="tab">
      <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
        <i class="fa fa-binoculars"></i>
      </span>
                    <strong class="text-uppercase u-nav-v8__title">Information</strong>
                    <em class="u-nav-v8__description">General information about this transaction.</em>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#transactionComments" role="tab">
      <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
        <i class="fa fa-comments-o"></i>
      </span>
                    <strong class="text-uppercase u-nav-v8__title">Comments</strong>
                    <em class="u-nav-v8__description">Join the conversation.</em>
                </a>
            </li>
        </ul>
        <!-- End Nav tabs -->

        <!-- Tab panes -->
        <div id="nav-8-1-default-hor-left" class="tab-content g-pt-20">
            <div class="tab-pane fade show active" id="transactionInformation" role="tabpanel">

                <div class="row text-center text-uppercase">
                    <div class="col-lg-5 col-sm-5 g-mb-50">
                        <div class="g-brd-around g-brd-orange g-pa-20">
                            <a th:href="@{/address/} + ${tx.fromAddress}">
                                <div class="g-font-size-16 g-font-weight-300 g-mb-7" th:text="${tx.fromAddress}">87904
                                </div>
                            </a>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">FROM</h4>
                        </div>
                    </div>

                    <div class="col-lg-2 col-sm-2 g-mb-50">
                        <div class="g-brd-around g-brd-blue g-pa-20">
                            <div class="g-font-size-16 g-font-weight-300 g-mb-7" th:text="${tx.formattedValue()}">87904
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-sm-5 g-mb-50">
                        <div class="g-brd-around g-brd-primary g-pa-20">
                            <a th:href="@{/address/} + ${tx.toAddress}">
                                <div class="g-font-size-16 g-font-weight-300 g-mb-7" th:text="${tx.toAddress}">87904
                                </div>
                            </a>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">TO</h4>
                        </div>
                    </div>
                </div>

                <div class="row text-center text-uppercase">
                    <div class="col-lg-3 col-sm-6 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <div class=" g-font-size-35 g-font-weight-300 g-mb-7" th:text="${tx.formattedGasPrice()}">
                                52147
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Gas Price</h4>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <div class="js-counter g-font-size-35 g-font-weight-300 g-mb-7"
                                 th:text="${tx.gas}">24583
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Gas</h4>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <div class="js-counter g-font-size-35 g-font-weight-300 g-mb-7"
                                 th:text="${tx.nonce}">7348
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Nonce</h4>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <div class="js-counter g-font-size-35 g-font-weight-300 g-mb-7"
                                 th:text="${tx.transactionIndex}">7348
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">transaction index</h4>
                        </div>
                    </div>
                </div>

                <div class="row text-center text-uppercase">

                    <div class="col-lg-12 col-sm-12 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <a th:href="@{/blocks/} + ${tx.blockHash}">
                                <div class="g-font-size-18 g-font-weight-300 g-mb-7" th:text="${tx.blockHash}">87904
                                </div>
                            </a>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Block Hash</h4>
                        </div>
                    </div>


                    <div class="col-lg-12 col-sm-12 g-mb-50">
                        <div class="g-bg-white g-rounded-4 g-brd-bottom g-brd-2 g-brd-gray-light-v3 g-pa-20">
                            <div class="g-font-size-18 g-font-weight-300 g-mb-7" th:text="${tx.input}">87904
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Input Data</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="transactionComments" role="tabpanel">
                <h4>Comments will be implemented here</h4>
            </div>
        </div>
        <!-- End Tab panes -->
    </section>
</div>

<div layout:fragment="footer-content">
    <!-- JS Implementing Plugins -->
    <script th:src="@{/assets/vendor/appear.js}"></script>

    <!-- JS Unify -->
    <script th:src="@{/assets/js/components/hs.counter.js}"></script>

    <!-- JS Implementing Plugins -->
    <script th:src="@{/assets/vendor/circles/circles.min.js}"></script>

    <!-- JS Unify -->
    <script th:src="@{/assets/js/components/hs.chart-pie.js}"></script>

    <!-- JS Plugins Init. -->
    <script>
		$(document).on('ready', function () {
			// initialization of counters
			var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]', {time: 1000});
			var items = $.HSCore.components.HSChartPie.init('.js-pie');
		});
    </script>

</div>
</body>
</html>
