<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div>
    <head th:fragment="version2">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97187183-1"></script>
        <script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-97187183-1');
        </script>

        <title>Cindercloud | The Ethereum Blockchain Interactor</title>

        <meta name="_disqusname" th:content="${@environment.getProperty('cloud.cinder.disqus.name')}"/>

        <!-- Required Meta Tags Always Come First -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico" />

        <!-- Google Fonts -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700" />

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/bootstrap.min.css}" />

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" th:href="@{/assets/vendor/icon-awesome/css/font-awesome.min.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/icon-line/css/simple-line-icons.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/icon-etlinefont/style.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/icon-line-pro/style.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/icon-hs/style.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/dzsparallaxer/dzsparallaxer.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/dzsparallaxer/dzsscroller/scroller.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/dzsparallaxer/advancedscroller/plugin.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/slick-carousel/slick/slick.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/animate.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/hs-megamenu/src/hs.megamenu.css}" />
        <link rel="stylesheet" th:href="@{/assets/vendor/hamburgers/hamburgers.min.css}" />

        <!-- CSS Unify -->
        <link rel="stylesheet" th:href="@{/assets/css/unify-core.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/unify-components.css}" />
        <link rel="stylesheet" th:href="@{/assets/css/unify-globals.css}" />

        <!-- CSS Customization -->
        <link rel="stylesheet" th:href="@{/assets/css/custom.css}" />
    </head>
</div>
</body>
</html>