<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<body>

<div th:fragment="topnavigation">
    <header id="js-header" class="u-header u-header--static">
        <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10">
            <nav class="js-mega-menu navbar navbar-expand-lg">
                <div class="container">
                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0"
                            type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar"
                            data-toggle="collapse" data-target="#navBar">
              <span class="hamburger hamburger--slider">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
              </span>
              </span>
                    </button>
                    <!-- End Responsive Toggle Button -->

                    <!-- Logo -->
                    <a th:href="@{/}" class="navbar-brand">
                        <img id="logo" th:src="@{/assets/images/logo/logo-128x30.png}" alt="Image Description"/>
                    </a>
                    <!-- End Logo -->

                    <!-- Navigation -->
                    <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--lg"
                         id="navBar">
                        <ul class="navbar-nav text-uppercase g-pos-rel g-font-weight-600 ml-auto">
                            <!-- Intro -->
                            <li class="nav-item active g-mx-10--lg g-mx-15--xl">
                                <a th:href="@{/}" class="nav-link g-py-7 g-px-0">HOME</a>
                            </li>

                          

                            <!-- Chain -->
                            <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn"
                                data-animation-out="fadeOut">
                                <a id="nav-link-pages" class="nav-link g-py-7 g-px-0" th:href="@{/ethereum}" aria-haspopup="true"
                                   aria-expanded="false" aria-controls="nav-submenu-pages">CHAIN</a>

                                <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-21 g-mt-11--lg--scrolling"
                                    id="nav-submenu-pages" aria-labelledby="nav-link-pages">
                                    <!-- Pages - Pricing -->
                                    <li class="dropdown-item hs-has-sub-menu">
                                        <a class="nav-link" th:href="@{/blocks}">Blocks</a>
                                        <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-minus-2 animated"
                                            id="nav-submenu--features--sliders"
                                            aria-labelledby="nav-link--features--sliders" style="display: none;">
                                            <li class="dropdown-item ">
                                                <a class="nav-link" th:href="@{/blocks}">Normal Blocks</a>
                                            </li>
                                            <li class="dropdown-item ">
                                                <a class="nav-link" th:href="@{/uncles}">Uncles</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-item ">
                                        <a class="nav-link" th:href="@{/tx}">Transactions</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Chain -->
                            <!-- Wallet -->
                            <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn"
                                data-animation-out="fadeOut">
                                <a id="nav-link-wallets" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true"
                                   aria-expanded="false" aria-controls="nav-submenu-wallets">Wallet</a>

                                <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-21 g-mt-11--lg--scrolling"
                                    id="nav-submenu-wallet" aria-labelledby="nav-link-wallets">
                                    <li class="dropdown-item ">
                                        <a class="nav-link" th:href="@{/wallet/create}">Create Wallet</a>
                                    </li>
                                    <li class="dropdown-item ">
                                        <a class="nav-link" th:href="@{/wallet}">Access Wallet</a>
                                    </li>
                                </ul>

                            </li>
                            <!-- End Wallet -->

                            <!-- Tools -->
                            <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn"
                                data-animation-out="fadeOut">
                                <a id="nav-link-tools" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true"
                                   aria-expanded="false" aria-controls="nav-submenu-pages">Tools</a>

                                <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-21 g-mt-11--lg--scrolling"
                                    id="nav-submenu-tools" aria-labelledby="nav-link-tools">
                                    <li class="dropdown-item ">
                                        <a class="nav-link" th:href="@{/contract}">Access Contract</a>
                                    </li>
                                    <li class="dropdown-item ">
                                        <a class="nav-link" th:href="@{/tools/converter}">Ethereum Unit Converter</a>
                                    </li>
                                    <li class="dropdown-item ">
                                        <a class="nav-link" th:href="@{/tools/leaked}">Leaked Credentials</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Tools -->

                            <!-- Whitehat -->
                            <li class="hs-has-sub-menu nav-item  g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn"
                                data-animation-out="fadeOut">
                                <a id="nav-link-whitehat" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true"
                                   aria-expanded="false" aria-controls="nav-submenu-pages">FAQ</a>

                                <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-21 g-mt-11--lg--scrolling"
                                    id="nav-submenu-whitehat" aria-labelledby="nav-link-tools">
                                    <li class="dropdown-item ">
                                        <a class="nav-link" th:href="@{/faq/whitehat}">Whitehat</a>
                                    </li>
                                    <li class="dropdown-item ">
                                        <a class="nav-link" th:href="@{/faq/how-to-create-a-wallet}">How to create a wallet</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Tools -->
                        </ul>
                    </div>

                    <th:block sec:authorize="isAnonymous()">
                        <a th:href="@{/web3/login}" style="display: none;" href="#!"
                           class="clientSideWeb3Enabled btn btn-md u-btn-skew u-btn-primary g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-50 g-mr-10 g-mb-15">
                            <span class="u-btn-skew__inner">
                              <i class="fa fa-check-circle g-mr-3"></i>
                              Web3 enabled
                            </span>
                        </a>
                        <a style="display: none;" href="#!"
                           class="clientSideWeb3Disabled btn btn-md u-btn-skew u-btn-deeporange g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-50 g-mr-10 g-mb-15">
                            <span class="u-btn-skew__inner">
                              <i class="fa fa-delete g-mr-3"></i>
                              Web3 not enabled
                            </span>
                        </a>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}" href="#!"
                           class="btn btn-md u-btn-orange g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-50 g-mr-10 g-mb-15">
                            <span>
                              <i class="fa fa-check-circle g-mr-3"></i>
                              Switch Account
                            </span>
                        </a>
                    </th:block>
                    <!-- End Navigation -->
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header -->
</div>

</body>
</html>