<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">
</div>

<body>
<div layout:fragment="main-content">
    <section class="breadcrumbs g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Block <span
                            th:text="${block.height}"></span></h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Home</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Blocks</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span th:text="${block.height}">1</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="container g-pt-10 g-pb-30">

        <!-- Nav tabs -->
        <ul class="nav u-nav-v8-1" role="tablist" data-target="nav-8-1-default-hor-left"
            data-tabs-mobile-type="slide-up-down"
            data-btn-classes="btn btn-md btn-block rounded-0 u-btn-outline-lightgray">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#blockInformation" role="tab">
      <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
        <i class="fa fa-binoculars"></i>
      </span>
                    <strong class="text-uppercase u-nav-v8__title">Information</strong>
                    <em class="u-nav-v8__description">General information about this block.</em>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#blockTransactions" role="tab">
                      <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
                          <i class="fa fa-exchange">
                              <span class="u-badge-v1 g-color-white g-bg-primary g-rounded-50x"
                                    th:text="${block.txCount}">33</span>
                          </i>
                      </span>
                    <strong class="text-uppercase u-nav-v8__title">Transactions
                    </strong>
                    <em class="u-nav-v8__description">Transactions in this block.</em>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#blockComments" role="tab">
                      <span class="u-nav-v8__icon u-icon-v3 u-icon-size--lg g-rounded-50x g-brd-around g-brd-4 g-brd-white">
                        <i class="fa fa-comments-o"></i>
                      </span>
                    <strong class="text-uppercase u-nav-v8__title">Comments</strong>
                    <em class="u-nav-v8__description">Join the conversation.</em>
                </a>
            </li>
        </ul>
        <!-- End Nav tabs -->

        <!-- Tab panes -->
        <div id="nav-8-1-default-hor-left" class="tab-content g-pt-20">
            <div class="tab-pane fade show active" id="blockInformation" role="tabpanel">

                <div class="row text-center text-uppercase">
                    <div class="col-lg-3 col-sm-6 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <div class="g-font-size-12 g-font-weight-300 g-mb-7" th:text="${block.height}">
                                52147
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Block Height</h4>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <div class="g-font-size-12 g-font-weight-300 g-mb-7"
                                 th:text="${block.difficulty}">24583
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Difficulty</h4>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <div class="g-font-size-12 g-font-weight-300 g-mb-7"
                                 th:text="${block.difficultyTotal}">7348
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Total Difficulty</h4>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <div class="g-font-size-12 g-font-weight-300 g-mb-7"><span
                                    th:text="${block.size}">87904</span> bytes
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Block Size</h4>
                        </div>
                    </div>

                </div>
                <div class="row text-center text-uppercase">
                    <div class="col-lg-3 col-sm-6"></div>
                    <div class="col-lg-6 col-sm-6 g-mb-50">
                        <div class="g-brd-around g-brd-green g-pa-20">
                            <h2><span th:text="${block.gasUsedPercentage()}"></span></h2>
                            <div class="g-font-size-35 g-font-weight-300 g-mb-7"><span
                                    th:text="${block.gasUsed}">87904</span> /
                                <span th:text="${block.gasLimit}">87904</span>
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Gas Used / Limit</h4>
                        </div>
                    </div>
                </div>
                <div class="row text-center text-uppercase">

                    <div class="col-lg-12 col-sm-12 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <div class="g-font-size-18 g-font-weight-300 g-mb-7" th:text="${block.hash}">87904
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Hash</h4>
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <a th:href="@{/address/} + ${block.minedBy}">
                                <div th:unless="${isMinedBySpecialName}" class="g-font-size-18 g-font-weight-300 g-mb-7" th:text="${block.minedBy}">87904
                                </div>
                                <div th:if="${isMinedBySpecialName}" class="g-font-size-18 g-font-weight-300 g-mb-7" th:text="${minedBySpecialName}">87904
                                </div>

                            </a>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Miner</h4>
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <a th:href="@{/blocks/} + ${block.parentHash}">
                                <div class="g-font-size-18 g-font-weight-300 g-mb-7" th:text="${block.parentHash}">87904
                                </div>
                            </a>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Parent Hash</h4>
                        </div>
                    </div>

                    <div class="col-lg-12 col-sm-12 g-mb-50">
                        <div class="g-brd-around g-brd-gray-light-v3 g-pa-20">
                            <div class="g-font-size-18 g-font-weight-300 g-mb-7" th:text="${block.sha3Uncles}">87904
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">SHA3 Uncles</h4>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6 g-mb-50">
                        <div class="g-bg-white g-rounded-4 g-brd-bottom g-brd-2 g-brd-gray-light-v3 g-pa-20">
                            <div class="g-font-size-18 g-font-weight-300 g-mb-7">
                                <span style="word-wrap: break-word;" >
                                    <span th:text="${block.extraData}"></span>
                                </span>
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Extra Data</h4>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 g-mb-50">
                        <div class="g-bg-white g-rounded-4 g-brd-bottom g-brd-2 g-brd-gray-light-v3 g-pa-20">
                            <div class="g-font-size-18 g-font-weight-300 g-mb-7">
                                <span th:text="${block.extraDataString}" style="word-wrap: break-word;" >
                                </span>
                            </div>
                            <h4 class="h5 g-color-gray-dark-v4 g-mb-5">Extra Data</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="blockTransactions" role="tabpanel">
                <div th:attr="data-blockhash=${block.hash}" id="blockTransactionsFragment"></div>
            </div>
            <div class="tab-pane fade" id="blockComments" role="tabpanel">
                <div id="disqus_thread"></div>
            </div>
        </div>
        <!-- End Tab panes -->
    </section>
</div>

<div layout:fragment="footer-content">
    <!-- JS Implementing Plugins -->
    <script th:src="@{/assets/vendor/appear.js}"></script>

    <!-- JS Unify -->
    <script th:src="@{/assets/js/components/hs.counter.js}"></script>

    <!-- JS Implementing Plugins -->
    <script th:src="@{/assets/vendor/circles/circles.min.js}"></script>

    <!-- JS Unify -->
    <script th:src="@{/assets/js/components/hs.chart-pie.js}"></script>

    <!-- JS Plugins Init. -->
    <script>
		$(document).on('ready', function () {
			// initialization of counters
			var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]', {time: 1000});
			var items = $.HSCore.components.HSChartPie.init('.js-pie');

			var blockHash = $("#blockTransactionsFragment").data('blockhash');
			console.log(blockHash);
			$.get('/blocks/' + blockHash + '/transactions', function (result) {
				$("#blockTransactionsFragment").html(result);
			});
		});
    </script>

    <th:block th:replace="components/disqus :: footer"></th:block>


</div>
</body>
</html>
