<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">
    <title>Access Ethereum Contract | Cindercloud </title>
</div>

<body>
<div layout:fragment="main-content">

    <h1 style="display: none">Access Ethereum Contract | Metamask</h1>

    <th:block th:replace="components/access-contract :: form" ></th:block>
    <th:block th:replace="components/access-contract :: access" ></th:block>
</div>

<div layout:fragment="footer-content">

    <th:block th:replace="components/access-contract :: access-footer"></th:block>
</div>
</body>
</html>
