<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">
    <link rel="stylesheet" th:href="@{/assets/vendor/custombox/custombox.min.css}"/>
</div>

<body>
<div layout:fragment="main-content">
    <div class="container g-pt-70 g-pb-30">
        <div class="row">
            <!-- Profile Settings -->
            <div class="col-lg-3 g-mb-50">
                <th:block th:replace="/components/profile :: sidenav(active='address-book')"></th:block>
            </div>
            <!-- End Profile Settings -->

            <!-- Wallet -->
            <div class="col-lg-9 g-mb-50">
                <!-- Balance & Rewards -->
                <div class="g-brd-around g-brd-gray-light-v4 rounded g-px-30 g-pt-30">
                    <h3 class="h5 mb-3">Address Book <a class="btn pull-right u-btn-primary" href="#addContact"
                                                        data-modal-target="#addContact" data-modal-effect="fadein">New
                        Contact</a>
                    </h3>

                    <!-- Add Balance -->
                    <div class="g-mb-50" th:if="${contacts == null || contacts.isEmpty()}">
                        <th:block th:replace="/components/alerts :: warning"/>
                    </div>
                </div>
                <!-- End Balance & Rewards -->
            </div>
            <!-- End Wallet -->
        </div>
    </div>

    <!-- Demo modal window -->
    <div id="addContact" class="text-left g-bg-white g-overflow-y-auto g-pa-20"
         style="display: none; max-width: 75%; min-width: 50%;">
        <button type="button" class="close" onclick="Custombox.modal.close();">
            <i class="hs-icon hs-icon-close"></i>
        </button>
        <div class="row">
            <div class="col-md-12">
                <h4 class="g-mb-20">New Contact</h4>

                <form th:object="${newContactModel}" th:action="@{/wallet/address-book}">
                    <div class="form-group row g-mb-25">
                        <label class="col-sm-3 col-form-label g-mb-10">Address:</label>

                        <div class="col-sm-12">
                            <input th:field="*{address}" class="form-control u-form-control rounded-0"
                                   type="text"
                                   placeholder="0xEeb7dF8C260f7DE30b41A981D52b4573CB5dFe2f"/>
                        </div>
                    </div>
                    <div class="form-group row g-mb-25">
                        <label class="col-sm-3 col-form-label g-mb-10">Nickname:</label>

                        <div class="col-sm-12">
                            <input th:field="${nickname}" class="form-control u-form-control rounded-0"
                                   type="text"
                                   placeholder="Savings Account"/>
                        </div>
                    </div>
                    <button type="submit" id="saveContact"
                            class="btn btn-md u-btn-primary pull-right rounded-0">Save
                    </button>
                </form>
            </div>

        </div>
    </div>

</div>
<div layout:fragment="footer-content">
    <!-- JS Implementing Plugins -->
    <script th:src="@{/assets/vendor/custombox/custombox.min.js}"></script>

    <!-- JS Unify -->
    <script th:src="@{/assets/js/components/hs.modal-window.js}"></script>

    <!-- JS Plugins Init. -->
    <script>
		$(document).on('ready', function () {
			// initialization of popups
			$.HSCore.components.HSModalWindow.init('[data-modal-target]');
		});
    </script>
</div>
</body>
</html>
