<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">

</div>

<body>
<div layout:fragment="main-content">
    <section class="breadcrumbs g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Wallets</h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Wallet</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>Created Wallet</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container g-py-100">
        <ul class="js-step-progress row justify-content-center list-inline text-center g-font-size-17 mb-0">
            <li id="downloadKeystoreStep" class="col-3 list-inline-item g-mb-20 g-mb-0--sm active">
                <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x g-brd-primary g-color-secondary g-color-white--parent-active g-bg-primary--active g-color-white--checked g-bg-primary--checked mx-auto mb-3">
                  <i class="g-font-style-normal g-font-weight-700 g-hide-check">1</i>
                  <i class="fa fa-check g-show-check"></i>
                </span>
                <h4 class="g-font-size-16 text-uppercase mb-0">Download your Keystore</h4>
            </li>

            <li id="backupPrivateKeyStep" class="col-3 list-inline-item g-mb-20 g-mb-0--sm">
                <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x g-brd-gray-light-v2 g-color-secondary g-brd-primary--active g-color-white--parent-active g-bg-primary--active g-color-white--checked g-bg-primary--checked mx-auto mb-3">
                  <i class="g-font-style-normal g-font-weight-700 g-hide-check">2</i>
                  <i class="fa fa-check g-show-check"></i>
                </span>
                <h4 class="g-font-size-16 text-uppercase mb-0">Backup Private Key</h4>
            </li>

            <li id="testSetupStep" class="col-3 list-inline-item">
                <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x g-brd-gray-light-v2 g-color-secondary g-brd-primary--active g-color-white--parent-active g-bg-primary--active g-color-white--checked g-bg-primary--checked mx-auto mb-3">
                  <i class="g-font-style-normal g-font-weight-700 g-hide-check">3</i>
                  <i class="fa fa-check g-show-check"></i>
                </span>
                <h4 class="g-font-size-16 text-uppercase mb-0">Test Your Setup</h4>
            </li>
        </ul>
    </div>

    <div id="walletDownload" class="g-bg-gray-light-v5  g-py-100">
        <header class="text-center">
            <h1 class="h2">Created your wallet</h1>
            <p class="lead">Your fresh wallet has been securely generated.</p>
        </header>
        <div class="text-center mx-auto g-width-70x--md">
            <div class="row">
                <div class="col-md-12 form-group g-mb-30">
                    <textarea th:id="walletFileText" th:text="${wallet.wallet}"
                              class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus g-resize-none rounded-0 g-py-13 g-px-15"
                              rows="7" placeholder="Message"></textarea>
                </div>
            </div>
        </div>
        <div class="text-center">
            <form>
                <input type="hidden" id="walletFileName" th:name="${wallet.getFilename()}" />
                <a class="btn u-btn-primary text-uppercase rounded-0 g-px-25 g-py-13" onclick="initiateDownload();">Download</a>
            </form>
        </div>
    </div>

    <div id="pkeyBackup" class="g-bg-primary g-py-100" style="display: none;">
        <div class="g-max-width-645 text-center mx-auto">
            <div class="mb-5">
                <h2 class="g-color-white g-font-weight-600">
                    Save your private key
                </h2>
                <p class="lead">After downloading your wallet file, it's best to keep a secure backup of your private
                    key. This is the only time we'll display the key.</p>
            </div>

            <input th:value="${wallet.privateKey.asString()}"
                   class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus rounded-0 g-py-13 g-px-15"
                   type="text" placeholder="pkey"/>

            <br/> <br/>
            <a class="btn u-btn-black g-brd-primary--hover g-color-primary g-color-main--hover g-bg-main g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2"
               onclick="step3();">
                I've copied it somewhere safe!
                <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
            </a>
        </div>
    </div>

    <div id="testSetup" class="g-bg-gray-light-v5 g-py-100" style="display: none;">
       <div class="row">
           <div class="col-md-12 text-center">
               <h1>Test your Setup</h1>
               <p>Before starting to use your wallet, it's recommended that you test it.</p>

               <a class="btn u-btn-black g-brd-primary--hover g-color-primary g-color-main--hover g-bg-main g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2"
                  th:href="@{/wallet/login}">
                   Test Your Keystore
                   <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
               </a>
           </div>
       </div>
    </div>


</div>
<div layout:fragment="footer-content">

    <script type="application/javascript">
		function download(filename, text, _callback) {
			var element = document.createElement('a');
			element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
			element.setAttribute('download', filename);
			element.style.display = 'none';
			document.body.appendChild(element);
			element.click();
			document.body.removeChild(element);
			_callback();
		}

		function initiateDownload() {
			const name = $("#walletFileName").attr("name");
			const text = $("#walletFileText").val();
			download(name, text, step2);
		}

		var step2 = function() {
            $("#walletDownload").hide();
            $("#downloadKeystoreStep").removeClass('active');
            $("#pkeyBackup").show();
            $("#backupPrivateKeyStep").addClass('active');
		};

		var step3 = function() {
			$("#pkeyBackup").hide();
			$("#backupPrivateKeyStep").removeClass('active');
			$("#testSetup").show();
			$("#testSetupStep").addClass('active');
		};
    </script>

</div>
</body>
</html>
