<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/intro.js@2.8.0-alpha.1/minified/introjs.min.css" />
</div>

<body>
<div layout:fragment="main-content">
    <section class="breadcrumbs g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Wallets</h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Wallet</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>Created Wallet</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container g-py-100">
        <ul class="js-step-progress row justify-content-center list-inline text-center g-font-size-17 mb-0">
            <li id="backupMnemonicStep" class="col-3 list-inline-item g-mb-20 g-mb-0--sm active">
                <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x g-brd-primary g-color-secondary g-color-white--parent-active g-bg-primary--active g-color-white--checked g-bg-primary--checked mx-auto mb-3">
                  <i class="g-font-style-normal g-font-weight-700 g-hide-check">1</i>
                  <i class="fa fa-check g-show-check"></i>
                </span>
                <h4 class="g-font-size-16 text-uppercase mb-0">Backup your mnemonic code</h4>
            </li>

            <li id="testSetupStep" class="col-3 list-inline-item">
                <span class="d-block u-icon-v2 u-icon-size--sm g-rounded-50x g-brd-gray-light-v2 g-color-secondary g-brd-primary--active g-color-white--parent-active g-bg-primary--active g-color-white--checked g-bg-primary--checked mx-auto mb-3">
                  <i class="g-font-style-normal g-font-weight-700 g-hide-check">3</i>
                  <i class="fa fa-check g-show-check"></i>
                </span>
                <h4 class="g-font-size-16 text-uppercase mb-0">Test Your Setup</h4>
            </li>
        </ul>
    </div>

    <div id="mnemonicBackup" class="g-bg-primary g-py-100" style="display: none;">
        <div class="g-max-width-645 text-center mx-auto">
            <div class="mb-5">
                <h2 class="g-color-white g-font-weight-600">
                    Save your mnemonic code
                </h2>
                <p class="lead">These 12 words, which compose your mnemonic code are very important. This is the only
                                moment you'll see them. Save them somewhere secure.</p>
            </div>

            <input id="mnemonicOutput" th:value="${mnemonic}"
                   class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus rounded-0 g-py-13 g-px-15"
                   type="text" placeholder="mnemonic" />

            <br /> <br />
            <a id="copiedMnemonic"
               class="btn u-btn-black g-brd-primary--hover g-color-primary g-color-main--hover g-bg-main g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2"
            >
                I've copied it somewhere safe!
                <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
            </a>
        </div>
    </div>

    <div id="testSetup" class="g-bg-gray-light-v5 g-py-100" style="display: none;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Test your Setup</h1>
                <p>Before starting to use your wallet, it's recommended that you test it.</p>

                <a id="testSetupButton"
                   class="btn u-btn-black g-brd-primary--hover g-color-primary g-color-main--hover g-bg-main g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2"
                   th:href="@{/wallet/login}">
                    Test Your mnemonic code
                    <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>


</div>
<div layout:fragment="footer-content">

    <script src="https://cdn.jsdelivr.net/npm/intro.js@2.8.0-alpha.1/minified/intro.min.js"
            type="application/javascript"></script>
    <script type="application/javascript" th:src="@{/assets/ethereum/mnemonic.created.js}"></script>
</div>
</body>
</html>
