<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">

</div>

<body>
<div layout:fragment="main-content">
    <section class="breadcrumbs g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Wallets</h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Created Wallet</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>Created Wallet</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container g-py-100">
        <header class="text-center">
            <h1 class="h2">Created your wallet</h1>
            <p class="lead">Your fresh wallet has been securely generated.</p>
        </header>
        <div class="text-center mx-auto g-width-70x--md">
            <div class="row">
                <div class="col-md-12 form-group g-mb-30">
                    <textarea th:id="walletFileText" th:text="${wallet.wallet}"
                              class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus g-resize-none rounded-0 g-py-13 g-px-15"
                              rows="7" placeholder="Message"></textarea>
                </div>
            </div>
        </div>
        <div class="text-center">
            <form onsubmit="initiateDownload();">
                <input type="hidden" id="walletFileName" th:name="${wallet.getFilename()}" />
                <input class="btn u-btn-primary text-uppercase rounded-0 g-px-25 g-py-13" type="submit" role="button" value="Download"/>

            </form>
        </div>
    </div>

    <div class="g-bg-primary g-py-100">
        <div class="g-max-width-645 text-center mx-auto">
            <div class="mb-5">
                <h2 class="g-color-white g-font-weight-600">
                    Save your private key
                </h2>
                <p class="lead">After downloading your wallet file, it's best to keep a secure backup of your private
                    key.</p>
            </div>

            <input th:value="${wallet.privateKey.asString()}"
                   class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus rounded-0 g-py-13 g-px-15"
                   type="text" placeholder="pkey"/>

            <br/> <br/>
            <a class="btn u-btn-black g-brd-primary--hover g-color-primary g-color-main--hover g-bg-main g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2"
               href="page-contacts-1.html">
                I've copied it somewhere safe!
                <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
            </a>
        </div>
    </div>


</div>
<div layout:fragment="footer-content">

    <script type="application/javascript">
		function download(filename, text) {
			var element = document.createElement('a');
			element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
			element.setAttribute('download', filename);
			element.style.display = 'none';
			document.body.appendChild(element);
			element.click();
			document.body.removeChild(element);
		}

		function initiateDownload() {
			const name = $("#walletFileName").attr("name");
			const text = $("#walletFileText").val();

			download(name, text);
		}
    </script>

</div>
</body>
</html>
