<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<div th:fragment="choose">
    <form method="POST" th:object="${mnemonicLoginCommand}" id="loginWithMnemonicForm" th:action="@{/wallet/login?type=mnemonic}">

        <input type="hidden" th:field="*{mnemonic}"/>
        <input id="idxField" type="hidden" th:field="*{index}"/>

        <ul class="list-unstyled">
            <li th:each="address : ${mnemonicAddresses}"
                class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-teal-left g-rounded-3 g-pt-15 g-pl-15 g-pr-5 g-mb-7">
                <div class="media-body">
                    <div class="d-flex justify-content-between">
                        <h5 style="font-family: monospace;" class="h6 g-font-weight-400 g-color-black"
                            th:text="${address.address}">David Lee</h5>
                        <a th:attr="data-idx=${address.index}"
                                class="mnemonicSubmit btn btn-xs u-btn-primary g-mr-10 g-mb-15">
                            <i class="fa fa-sign-in"></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </form>


    <script type="application/javascript">
		$(document).ready(function () {
			$('.mnemonicSubmit').click(function(e) {
				var button = $(this);
				$('#idxField').val(button.data('idx'));
				$('#loginWithMnemonicForm').submit();
			});
		});
    </script>
</div>


</html>