<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">

</div>

<body>
<div layout:fragment="main-content">
    <div class="container g-pt-70 g-pb-30">
        <div class="row">
            <!-- Profile Settings -->
            <div class="col-lg-3 g-mb-50">
                <th:block th:replace="/components/profile :: sidenav(active='send-tokens')"></th:block>
            </div>
            <!-- End Profile Settings -->

            <!-- Wallet -->
            <div class="col-lg-9 g-mb-50">
                <!-- Balance & Rewards -->



                <div th:if="${warning != null}" class="alert alert-dismissible fade show g-bg-primary g-color-white rounded-0" role="alert">
                    <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                    <div class="media">
                        <span class="d-flex g-mr-10 g-mt-5">
                          <i class="icon-ban g-font-size-25"></i>
                        </span>
                        <span class="media-body align-self-center">
                          <strong>Warning!</strong> <span th:text="${warning}"></span>
                        </span>
                    </div>
                </div>

                <div th:if="${success != null}" class="alert alert-dismissible fade show g-bg-primary g-color-white rounded-0" role="alert">
                    <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                    <div class="media">
                        <span class="d-flex g-mr-10 g-mt-5">
                          <i class="icon-ban g-font-size-25"></i>
                        </span>
                        <span class="media-body align-self-center">
                          <strong>Success!</strong> <span th:text="${success}"></span>
                        </span>
                    </div>
                </div>

                <!-- Red Alert -->
                <div th:if="${error != null}" class="alert alert-dismissible fade show g-bg-red g-color-white rounded-0" role="alert">
                    <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                    <div class="media">
                        <span class="d-flex g-mr-10 g-mt-5">
                          <i class="icon-ban g-font-size-25"></i>
                        </span>
                                        <span class="media-body align-self-center">
                          <strong>Error!</strong> <span th:text="${error}"></span>
                        </span>
                    </div>
                </div>
                <!-- End Red Alert -->

                <div class="g-brd-around g-brd-gray-light-v4 rounded g-px-30 g-pt-30">
                    <h3 class="h5 mb-3">Create a token transaction</h3>

                    <!-- Balance Info -->
                    <div class="row justify-content-between">
                        <div class="col-md-12">
                            <form th:object="${createTokenTransactionCommand}" id="frmSendTransaction"
                                  th:action="@{/wallet/tokens/send}" method="POST" class="g-pa-30 g-mb-30">

                                <div class="row" id="tokenSelectionComponent">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10">
                                        <a href="#!" class="btn btn-block btn-md u-btn-primary g-mr-10 g-mb-15">
                                            <i class="fa fa-spinner fa-spin"></i>
                                            <span class="text-uppercase">Loading tokens...</span>
                                        </a>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>

                                <div class="form-group row g-mb-25">
                                    <label class="col-sm-3 col-form-label g-mb-10">To</label>

                                    <div class="col-sm-9" th:classappend="${#fields.hasErrors('to')} ? u-has-error-v1 : ''">
                                        <input th:field="*{to}"  class="form-control u-form-control rounded-0"
                                               type="text"
                                               placeholder="0xEeb7dF8C260f7DE30b41A981D52b4573CB5dFe2f"/>
                                    </div>
                                </div>
                                <div class="form-group row g-mb-20">
                                    <label class="col-sm-3 col-form-label g-mb-10">Amount to send</label>
                                    <div class="col-sm-9">
                                        <input th:field="*{amount}" class="form-control u-form-control rounded-0"
                                               type="number" step="any"
                                               placeholder="amount"/>
                                    </div>
                                </div>
                                <div class="form-group row g-mb-20">
                                    <label class="col-sm-3 col-form-label g-mb-10">Gas Limit</label>
                                    <div class="col-sm-9">
                                        <input th:field="*{gasLimit}" value="60000"
                                               class="form-control u-form-control rounded-0" type="number"
                                               placeholder="amount"/>
                                    </div>
                                </div>

                                <div class="form-group row g-mb-40">
                                    <label class="col-sm-3 col-form-label g-mb-10">
                                        Gas Price
                                        <span class="g-color-primary">(<span
                                                id="regularSliderAmount3">25</span> GWEI)</span>
                                    </label>
                                    <div class="col-sm-9">

                                        <div id="regularSlider3" class="u-slider-v1-3"
                                             data-result-container="regularSliderAmount3" data-default="25" data-min="0"
                                             data-max="100"></div>
                                    </div>
                                </div>

                                <input type="hidden" id="gasPrice" th:field="*{gasPrice}" value="25"/>

                                <button type="submit" style="display:none;" id="sendTransaction"
                                        class="btn btn-md u-btn-primary pull-right rounded-0">Next
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- End Balance Info -->

                </div>
                <!-- End Balance & Rewards -->
            </div>
            <!-- End Wallet -->
        </div>
    </div>


</div>
<div layout:fragment="footer-content">
    <script th:src="@{/assets/vendor/jquery-ui/ui/widget.js}"></script>
    <script th:src="@{/assets/vendor/jquery-ui/ui/version.js}"></script>
    <script th:src="@{/assets/vendor/jquery-ui/ui/keycode.js}"></script>
    <script th:src="@{/assets/vendor/jquery-ui/ui/position.js}"></script>
    <script th:src="@{/assets/vendor/jquery-ui/ui/unique-id.js}"></script>
    <script th:src="@{/assets/vendor/jquery-ui/ui/safe-active-element.js}"></script>

    <script th:src="@{/assets/vendor/jquery-ui/ui/widgets/menu.js}"></script>
    <script th:src="@{/assets/vendor/jquery-ui/ui/widgets/mouse.js}"></script>
    <script th:src="@{/assets/vendor/jquery-ui/ui/widgets/slider.js}"></script>
    <script th:src="@{/assets/js/components/hs.slider.js}"></script>

    <script>
		$(document).on('ready', function () {
			// initialization of forms
			$.HSCore.components.HSSlider.init('#regularSlider3');

			$("#frmSendTransaction").submit(function (ev) {
				ev.preventDefault();
				var gasPrice = $('#regularSliderAmount3').html();
				$('#gasPrice').val(gasPrice);
				this.submit();
			});

			$.get('/wallet/tokens/list', function(result) {
				$('#tokenSelectionComponent').html(result);
				$('#sendTransaction').show();
            });
		});
    </script>
</div>
</body>
</html>
