<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">

</div>

<body>
<div layout:fragment="main-content">

    <section class="breadcrumbs g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">Login to your wallet</h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="#">Wallets</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>Login</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Login -->

    <section id="notUnlocked" class="g-py-200--md g-py-80"
             style="display: none; background-image: url(/assets/img/bg/pattern/bricks-white.png);">
        <div class="container text-center">
            <h2 class="text-uppercase g-font-weight-600 g-mb-20">Web3 Enabled, but action required.</h2>

            <p class="lead g-px-100--md g-mb-40">It would appear that you're either using a web3 browser or a
                metamask-enabled browser. Great choice! you're truely making the world a safer place.</p>
            <hr/>

            <p>
                <span class="u-icon-v1 g-color-orange">
                    <i class="fa fa-lock"></i>
                </span>
            </p>
            <p>
                <b class="lead g-px-200--md g-mb-40">However, your account is still locked</b>
            </p>
            <hr/>
            <p class="lead g-px-100--md g-mb-40">Once you unlock your account, you'll be automatically logged into our
                application. Although a web3 environment is a safer place, we have to restrict some functionality to
                keep your accounts safe. <b>Don't worry though, we're working on rewarding people that use the web3
                    environment!</b>
            </p>

            <p>
                <a class="btn btn-md u-btn-orange rounded-0" th:href="@{/web3/login}">I unlocked it</a>
            </p>
        </div>
    </section>

</div>
<div layout:fragment="footer-content">

    <script type="application/javascript">
		$(document).ready(function () {
			if (_web3 !== null) {
				_web3.eth.getAccounts(function (error, result) {
					console.log(result);
					if (error) {
						//handle
					} else {
						onAccounts(result);
					}
				});
			}
		});

		var login = function (account) {
			$.post('/web3/login?address=' + account, function (result) {
				if (result === 'OK') {
					window.location = '/wallet';
				}
			});
		};

		function onAccounts(accs) {
			if (accs.length > 0) {
				var account = accs[0];
				login(account);
			} else {
				$('#notUnlocked').show();
			}
		}
    </script>

</div>
</body>
</html>
