<!DOCTYPE html >
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="decorator/normal/decorator">
<div layout:fragment="header-content">
    <link rel="stylesheet" th:href="@{/assets/vendor/icon-material/material-icons.css}"/>
</div>

<body>
<div layout:fragment="main-content">
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options="{direction: &quot;fromtop&quot;, animation_duration: 25, direction: &quot;reverse&quot;}">
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-size-cover g-bg-pos-top-center g-bg-black-opacity-0_2--after" style="height: 140%; background-image: url('/assets/images/bg1.jpeg'); transform: translate3d(0px, -78.4287px, 0px);"></div>
        <!-- End Parallax Image -->

        <!-- Promo Block Content -->
        <div class="container g-color-white text-center g-pt-150 g-pb-200">
            <h3 class="h2 g-font-weight-300 mb-0">You came to the right place</h3>
            <h2 class="g-font-weight-700 g-font-size-80 text-uppercase">Let's Talk</h2>
        </div>
        <!-- Promo Block Content -->
    </section>


    <section class="container">
        <div class="row no-gutters u-shadow-v21 g-mt-minus-100">
            <div class="col-sm-6 col-md-4 g-brd-right--md g-brd-gray-light-v4">
                <!-- Icon Blocks -->
                <div class="g-bg-white text-center g-py-100">
            <span class="u-icon-v1 u-icon-size--xl g-color-primary mb-3">
                <i class="icon-real-estate-027 u-line-icon-pro"></i>
              </span>
                    <h4 class="h5 g-font-weight-600 g-mb-5">Address</h4>
                    <span class="d-block">61 Oxford str., London, 3DG</span>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-md-4 g-hidden-xs-down g-brd-right--md g-brd-gray-light-v4">
                <!-- Icon Blocks -->
                <div class="g-bg-white text-center g-py-100">
            <span class="u-icon-v1 u-icon-size--xl g-color-primary mb-3">
                <i class="icon-communication-062 u-line-icon-pro"></i>
              </span>
                    <h4 class="h5 g-font-weight-600 g-mb-5">Phone Number</h4>
                    <span class="d-block">1-800-643-4500</span>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-sm-6 col-md-4 g-hidden-sm-down">
                <!-- Icon Blocks -->
                <div class="g-bg-white text-center g-py-100">
            <span class="u-icon-v1 u-icon-size--xl g-color-primary mb-3">
                <i class="icon-electronics-005 u-line-icon-pro"></i>
              </span>
                    <h4 class="h5 g-font-weight-600 g-mb-5">Email</h4>
                    <span class="d-block">mail@htmlstream.com</span>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
        <div class="g-py-100">
            <div class="row justify-content-center g-mb-70">
                <div class="col-lg-7">
                    <!-- Heading -->
                    <div class="text-center">
                        <h2 class="h1 g-color-black g-font-weight-700 text-uppercase mb-4">Security Review? Smart Contract Design?</h2>
                        <div class="d-inline-block g-width-70 g-height-2 g-bg-black mb-4"></div>
                        <p class="g-font-size-18 mb-0">If you can be as detailed as possible on what you need, we'll be able to help you even faster!</p>
                    </div>
                    <!-- End Heading -->
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <form>
                        <div class="row">
                            <div class="col-md-6 form-group g-mb-20">
                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-3 g-py-13 g-px-15" type="text" placeholder="Name" />
                            </div>

                            <div class="col-md-6 form-group g-mb-20">
                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-3 g-py-13 g-px-15" type="email" placeholder="Email" />
                            </div>

                            <div class="col-md-6 form-group g-mb-20">
                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-3 g-py-13 g-px-15" type="text" placeholder="Subject" />
                            </div>

                            <div class="col-md-6 form-group g-mb-20">
                                <input class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover rounded-3 g-py-13 g-px-15" type="tel" placeholder="Phone" />
                            </div>

                            <div class="col-md-12 form-group g-mb-40">
                                <textarea class="form-control g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--hover g-resize-none rounded-3 g-py-13 g-px-15" rows="7" placeholder="Message"></textarea>
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn u-btn-primary g-font-weight-600 g-font-size-13 text-uppercase g-rounded-25 g-py-15 g-px-30" type="submit" role="button">Send Request</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

</div>
<div layout:fragment="footer-content">


</div>
</body>
</html>
